In [66]:
import pandas as pd
import numpy as np

In [28]:
df_admissions = pd.read_csv('C:/Users/Chicki/Desktop/Data/admissions_new1.csv')
#print (df_admissions.head(5))
query_admissions = df_admissions.query('HADM_ID == 165660')
print(query_admissions)
#df_admissions.sort_values(by=['SUBJECT_ID']).head(20)

    ROW_ID  SUBJECT_ID  HADM_ID    ADMITTIME    DISCHTIME  DEATHTIME  \
17      38          36   165660  85598.47917  85608.55278        NaN

   ADMISSION_TYPE         ADMISSION_LOCATION       DISCHARGE_LOCATION  \
17       ELECTIVE  PHYS REFERRAL/NORMAL DELI  LONG TERM CARE HOSPITAL

   INSURANCE LANGUAGE       RELIGION MARITAL_STATUS ETHNICITY  EDREGTIME  \
17  Medicare     ENGL  NOT SPECIFIED        MARRIED     WHITE        NaN

    EDOUTTIME           DIAGNOSIS  HOSPITAL_EXPIRE_FLAG  HAS_CHARTEVENTS_DATA
17        NaN  VENTRAL HERNIA/SDA                     0                     1

In [29]:
df_patients = pd.read_csv('C:/Users/Chicki/Desktop/Data/patients.csv')
print(df_patients.query('SUBJECT_ID == 36'))

     ROW_ID  SUBJECT_ID GENDER                  DOB  DOD DOD_HOSP DOD_SSN  \
253      32          36      M  2061-08-17 00:00:00  NaN      NaN     NaN

     EXPIRE_FLAG
253            0

In [87]:
#df_icu_stays = pd.read_csv('C:/Users/Chicki/Desktop/Data/ICUSTAYS1.csv')
#df_icu_stays.count()
#print ((df_icu_stays.head(5)))
#df_icu_stays.sort_values(by=['SUBJECT_ID']).head(20)
df_chart_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/CHARTEVENTS.csv')
#print(df_chart_events.query('ITEMID == 3112').head())

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64

In [ ]:
#df_chart_events1 = pd.read_csv('C:/Users/Chicki/Desktop/Data/CHARTEVENTS1.csv')
#df_chart_events1.count()
#df_chart_events1 = pd.read_csv('C:/Users/Chicki/Desktop/Data/CHARTEVENTS.csv', nrows=10000000)

## REMOVE the ERROR records 
#df_chart_events1 = df_chart_events1[df_chart_events1["ERROR"] == 0]
#df_chart_events1.count()

df_chart_events = df_chart_events[df_chart_events["ERROR"] == 0]
df_chart_events.count()


#df_chart_events.cache()

#df_chart_events1.count()
df_chart_events.count()
#print((df_chart_events.query('WARNING == 1').head(5)))
#print((df_chart_events.query('ITEMID < 10884').head(5)))

In [ ]:
df_chart_events1.count()

In [3]:
#print((df_chart_events1.query('ERROR == 1').count()))
#print((df_chart_events1.query('WARNING == 1').tail()))
df_chart_events1.isna().sum()
#print(df_chart_events1['WARNING'].unique())
#print(df_chart_events1['RESULTSTATUS'].unique())

ROW_ID                0
SUBJECT_ID            0
HADM_ID               0
ICUSTAY_ID          457
ITEMID                0
CHARTTIME             0
STORETIME        200473
CGID             200473
VALUE                 0
VALUENUM              0
VALUEUOM          61314
WARNING               0
ERROR                 0
RESULTSTATUS    1046649
STOPPED         1046649
dtype: int64

# Remove all unnecessary columns from Chart Events

In [76]:
## REMOVE RECORDS with NA in admission id
df_chart_events1 = df_chart_events1.dropna(subset=['HADM_ID'])
df_chart_events1.count()

## REMOVE the unnecessary columns
df_chart_events1 = df_chart_events1.drop(['ROW_ID','CHARTTIME','STORETIME','CGID','STOPPED','ERROR', 'RESULTSTATUS', 'WARNING', 'ICUSTAY_ID'], axis=1)
print((df_chart_events1.head(5)))

   SUBJECT_ID  HADM_ID  ITEMID   VALUE  VALUENUM VALUEUOM
0          36   165660  223834   15.00     15.00    L/min
1          36   165660  223835  100.00    100.00      NaN
2          36   165660  224328    0.37      0.37      NaN
3          36   165660  224329    6.00      6.00      min
4          36   165660  224330    2.50      2.50      NaN

# Remove all unnecessary data/columns from Lab Events

In [77]:
df_lab_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/LABEVENTS.csv')
#df_lab_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/LABEVENTS.csv', nrows=10000000)
#print(df_lab_events.head(5))
#df_lab_events.count()
## REMOVE the error records from the lab events
#df_lab_events = df_lab_events.drop(['ROW_ID', 'CHARTTIME'], axis = 1)
df_lab_events.tail()
#df_lab_events.isna().sum()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.0,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.1,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.0,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.0,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.6,mg/dL,abnormal

In [80]:
print(df_lab_events.query('HADM_ID == 165660').head())

       ROW_ID  SUBJECT_ID   HADM_ID  ITEMID            CHARTTIME VALUE  \
18254   16117          36  165660.0   50882  2134-05-16 03:02:00    35
18255   16118          36  165660.0   50893  2134-05-16 03:02:00   7.7
18256   16119          36  165660.0   50902  2134-05-16 03:02:00   102
18257   16120          36  165660.0   50912  2134-05-16 03:02:00   0.8
18258   16121          36  165660.0   50931  2134-05-16 03:02:00   111

       VALUENUM VALUEUOM      FLAG
18254      35.0    mEq/L  abnormal
18255       7.7    mg/dL  abnormal
18256     102.0    mEq/L       NaN
18257       0.8    mg/dL       NaN
18258     111.0    mg/dL  abnormal

In [81]:
## ONLY have the requisite ITEM details we are looking for in the LAB & Chart events
items_list = [223761, 220045, 220046, 220047, 220179, 220180, 220181, 220052, 223835, 224161, 221906, 225411, 226260, 50821, 223835, 1884, 50931, 50882, 50912, 51221, 51222, 51265, 50971, 51006, 51301, 51009, 50865, 50929, 50997, 4478, 8125, 5982, 8157, 8204, 6287, 6720, 6807, 3112, 225411, 6185]
#print(items_list)
df_lab_events1 = df_lab_events[df_lab_events.ITEMID.isin(items_list)]
df_chart_events1 = df_chart_events1[df_chart_events1.ITEMID.isin(items_list)]
df_lab_events1.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
9,290,3,NaN,50821,2101-10-12 18:17:00,80,80.0,mm Hg,NaN
12,293,3,NaN,50882,2101-10-13 03:00:00,23,23.0,mEq/L,NaN
15,296,3,NaN,50912,2101-10-13 03:00:00,1.7,1.7,mg/dL,abnormal
16,297,3,NaN,50931,2101-10-13 03:00:00,137,137.0,mg/dL,abnormal
19,300,3,NaN,50971,2101-10-13 03:00:00,4.3,4.3,mEq/L,NaN

In [82]:
#query_lab_events = df_lab_events.query('FLAG == "abnormal"')
#query_lab_events = df_lab_events.query('LABEL.str.contains("bun", na=False)', engine = 'python')
#query_lab_events.tail(10)

## REMOVE RECORDS with NA in admission id
df_lab_events1 = df_lab_events1.dropna(subset=['HADM_ID', 'ITEMID', 'VALUE', 'SUBJECT_ID'])
df_lab_events1.count()

ROW_ID        6109293
SUBJECT_ID    6109293
HADM_ID       6109293
ITEMID        6109293
CHARTTIME     6109293
VALUE         6109293
VALUENUM      6107238
VALUEUOM      6109089
FLAG          3313073
dtype: int64

In [83]:
print(df_lab_events1.query('FLAG == "abnormal"').count())

ROW_ID        3292596
SUBJECT_ID    3292596
HADM_ID       3292596
ITEMID        3292596
CHARTTIME     3292596
VALUE         3292596
VALUENUM      3291792
VALUEUOM      3292485
FLAG          3292596
dtype: int64

# Create the new columns on Chart Events

In [84]:
#df_chart_events1 = df_chart_events1.drop(['temphigh'], axis = 1)
df_chart_events1.count()

SUBJECT_ID    307464
HADM_ID       307464
ITEMID        307464
VALUE         307464
VALUENUM      307464
VALUEUOM      290181
dtype: int64

In [85]:
## ASSIGN temphigh column based on values 
df_chart_events1['temphigh'] = ((df_chart_events1['ITEMID']== 223761) & (df_chart_events1['VALUENUM'] > 99).astype('int'))

In [86]:
#df_chart_events1.head()
print(df_chart_events1.query('ITEMID == 223761 and VALUE > 99').head())

      SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM VALUEUOM  temphigh
470           36   165660  223761   99.3      99.3       ?F      True
928           36   165660  223761  100.2     100.2       ?F      True
947           36   165660  223761  100.6     100.6       ?F      True
1056          36   165660  223761  100.2     100.2       ?F      True
1120          36   165660  223761  100.1     100.1       ?F      True

In [13]:
## ASSIGN heartratehigh column based on values
df_chart_events1['heartratehigh'] = (((df_chart_events1['ITEMID'] == 220045) | (df_chart_events1['ITEMID'] == 220046) | (df_chart_events1['ITEMID'] == 220047)) & (df_chart_events1['VALUENUM'] > 100))

In [14]:
print(df_chart_events1.query('ITEMID in (220045, 220046, 220047) & VALUENUM < 100').tail(20))

         SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM VALUEUOM  temphigh  \
1048153       10694   138159  220045   92.0      92.0      bpm     False
1048180       10694   138159  220045   92.0      92.0      bpm     False
1048201       10694   138159  220045   89.0      89.0      bpm     False
1048232       10694   138159  220045   94.0      94.0      bpm     False
1048253       10694   138159  220045   92.0      92.0      bpm     False
1048274       10694   138159  220045   92.0      92.0      bpm     False
1048298       10694   138159  220045   90.0      90.0      bpm     False
1048319       10694   138159  220045   85.0      85.0      bpm     False
1048340       10694   138159  220045   91.0      91.0      bpm     False
1048361       10694   138159  220045   88.0      88.0      bpm     False
1048378       10694   138159  220045   88.0      88.0      bpm     False
1048398       10694   138159  220045   87.0      87.0      bpm     False
1048419       10694   138159  220045   87.0      87.0      bpm     False
1048450       10694   138159  220045   92.0      92.0      bpm     False
1048471       10694   138159  220045   84.0      84.0      bpm     False
1048492       10694   138159  220045   88.0      88.0      bpm     False
1048513       10694   138159  220045   83.0      83.0      bpm     False
1048523       10694   138159  220045   84.0      84.0      bpm     False
1048543       10694   138159  220045   82.0      82.0      bpm     False
1048555       10694   138159  220045   78.0      78.0      bpm     False

         heartratehigh
1048153          False
1048180          False
1048201          False
1048232          False
1048253          False
1048274          False
1048298          False
1048319          False
1048340          False
1048361          False
1048378          False
1048398          False
1048419          False
1048450          False
1048471          False
1048492          False
1048513          False
1048523          False
1048543          False
1048555          False

In [15]:
## ASSIGN sysbplow column based on values
df_chart_events1['sysbplow'] = ((df_chart_events1['ITEMID'] == 220179) & (df_chart_events1['VALUENUM'] < 90).astype('int'))

In [16]:
print(df_chart_events1.query('ITEMID == 220179 and VALUE < 90').head())

      SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM VALUEUOM  temphigh  \
280           23   124321  220179   67.0      67.0     mmHg     False
287           23   124321  220179   72.0      72.0     mmHg     False
1029          36   165660  220179   86.0      86.0     mmHg     False
1049          36   165660  220179   89.0      89.0     mmHg     False
1199          36   165660  220179   84.0      84.0     mmHg     False

      heartratehigh  sysbplow
280           False      True
287           False      True
1029          False      True
1049          False      True
1199          False      True

In [17]:
## ASSIGN diasbplow column based on values
df_chart_events1['diasbplow'] = ((df_chart_events1['ITEMID'] == 220180) & (df_chart_events1['VALUENUM'] < 60).astype('int'))

In [18]:
print(df_chart_events1.query('ITEMID == 220180 and VALUE > 60').head())

    SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM VALUEUOM  temphigh  \
17          36   165660  220180   72.0      72.0     mmHg     False
43          36   165660  220180   61.0      61.0     mmHg     False
62          36   165660  220180   75.0      75.0     mmHg     False
73          34   144319  220180   66.0      66.0     mmHg     False
99          34   144319  220180   61.0      61.0     mmHg     False

    heartratehigh  sysbplow  diasbplow
17          False     False      False
43          False     False      False
62          False     False      False
73          False     False      False
99          False     False      False

In [19]:
## ASSIGN meanbplow column based on values
df_chart_events1['meanbplow'] = ((df_chart_events1['ITEMID'] == 220181) & (df_chart_events1['VALUENUM'] < 70).astype('int'))

In [20]:
print(df_chart_events1.query('ITEMID == 220181 and VALUE > 70').head())

     SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM VALUEUOM  temphigh  \
18           36   165660  220181   84.0      84.0     mmHg     False
44           36   165660  220181   79.0      79.0     mmHg     False
63           36   165660  220181   85.0      85.0     mmHg     False
74           34   144319  220181   78.0      78.0     mmHg     False
100          34   144319  220181   79.0      79.0     mmHg     False

     heartratehigh  sysbplow  diasbplow  meanbplow
18           False     False      False      False
44           False     False      False      False
63           False     False      False      False
74           False     False      False      False
100          False     False      False      False

In [21]:
## ASSIGN fio2high column based on values
df_chart_events1['fio2high'] = ((df_chart_events1['ITEMID'] == 223835) & (df_chart_events1['VALUENUM'] > 50).astype('int'))

In [22]:
print(df_chart_events1.query('ITEMID == 224161').head(10))

      SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM  VALUEUOM  temphigh  \
192           23   124321  224161   40.0      40.0  insp/min     False
406           23   124321  224161   35.0      35.0  insp/min     False
458           36   165660  224161   30.0      30.0  insp/min     False
487           36   165660  224161   30.0      30.0  insp/min     False
575           34   144319  224161   30.0      30.0  insp/min     False
719           34   144319  224161   30.0      30.0  insp/min     False
827           34   144319  224161   30.0      30.0  insp/min     False
1059          36   165660  224161   30.0      30.0  insp/min     False
1257          36   165660  224161   30.0      30.0  insp/min     False
1481          36   165660  224161   30.0      30.0  insp/min     False

      heartratehigh  sysbplow  diasbplow  meanbplow  fio2high
192           False     False      False      False     False
406           False     False      False      False     False
458           False     False      False      False     False
487           False     False      False      False     False
575           False     False      False      False     False
719           False     False      False      False     False
827           False     False      False      False     False
1059          False     False      False      False     False
1257          False     False      False      False     False
1481          False     False      False      False     False

In [23]:
## ASSIGN respratehigh column based on values
df_chart_events1['respratehigh'] = ((df_chart_events1['ITEMID'] == 224161) & (df_chart_events1['VALUENUM'] > 20).astype('int'))

In [25]:
print(df_chart_events1.query('ITEMID == 224161').head())

     SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM  VALUEUOM  temphigh  \
192          23   124321  224161   40.0      40.0  insp/min     False
406          23   124321  224161   35.0      35.0  insp/min     False
458          36   165660  224161   30.0      30.0  insp/min     False
487          36   165660  224161   30.0      30.0  insp/min     False
575          34   144319  224161   30.0      30.0  insp/min     False

     heartratehigh  sysbplow  diasbplow  meanbplow  fio2high  respratehigh
192          False     False      False      False     False          True
406          False     False      False      False     False          True
458          False     False      False      False     False          True
487          False     False      False      False     False          True
575          False     False      False      False     False          True

In [26]:
## ASSIGN norepinephrine column based on values
df_chart_events1['norepinephrine'] = (((df_chart_events1['ITEMID'] == 3112) | (df_chart_events1['ITEMID'] == 221906)) & (df_chart_events1['VALUENUM'] > 0))

In [28]:
print(df_chart_events1.query('ITEMID == 221906 | ITEMID == 3112 | ITEMID == 224161').head())

     SUBJECT_ID  HADM_ID  ITEMID  VALUE  VALUENUM  VALUEUOM  temphigh  \
192          23   124321  224161   40.0      40.0  insp/min     False
406          23   124321  224161   35.0      35.0  insp/min     False
458          36   165660  224161   30.0      30.0  insp/min     False
487          36   165660  224161   30.0      30.0  insp/min     False
575          34   144319  224161   30.0      30.0  insp/min     False

     heartratehigh  sysbplow  diasbplow  meanbplow  fio2high  respratehigh  \
192          False     False      False      False     False          True
406          False     False      False      False     False          True
458          False     False      False      False     False          True
487          False     False      False      False     False          True
575          False     False      False      False     False          True

     norepinephrine
192           False
406           False
458           False
487           False
575           False

In [29]:
## ASSIGN mechanical_ventilator column based on values
df_chart_events1['mechanical_ventilator'] = (((df_chart_events1['ITEMID'] == 6185) | (df_chart_events1['ITEMID'] == 226260) | (df_chart_events1['ITEMID'] == 225411)))

In [30]:
#print(df_chart_events1.query('ITEMID == 226260 | ITEMID == 6185 | ITEMID == 225411').head())
df_chart_events1.head()

,SUBJECT_ID,HADM_ID,ITEMID,VALUE,VALUENUM,VALUEUOM,temphigh,heartratehigh,sysbplow,diasbplow,meanbplow,fio2high,respratehigh,norepinephrine,mechanical_ventilator
0,36,165660,223834,15.00,15.00,L/min,False,False,False,False,False,False,False,False,False
1,36,165660,223835,100.00,100.00,NaN,False,False,False,False,False,True,False,False,False
2,36,165660,224328,0.37,0.37,NaN,False,False,False,False,False,False,False,False,False
3,36,165660,224329,6.00,6.00,min,False,False,False,False,False,False,False,False,False
4,36,165660,224330,2.50,2.50,NaN,False,False,False,False,False,False,False,False,False

# Create the new columns on Lab Events

In [31]:
## ASSIGN SpO2 column based on values
df_lab_events1['spo2high'] = ((df_lab_events1['ITEMID'] == 50821) & (df_lab_events1['VALUENUM'] > 100).astype('int'))

In [32]:
print(df_lab_events1.query('ITEMID == 50821').head())
#print(df_lab_events1.head())

     SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM FLAG  spo2high
220           3  145834.0   50821   164     164.0    mm Hg  NaN      True
233           3  145834.0   50821   121     121.0    mm Hg  NaN      True
242           3  145834.0   50821   105     105.0    mm Hg  NaN      True
251           3  145834.0   50821   113     113.0    mm Hg  NaN      True
264           3  145834.0   50821    85      85.0    mm Hg  NaN     False

In [33]:
## ASSIGN glucose column based on values
df_lab_events1['glucoselow'] = ((df_lab_events1['ITEMID'] == 50931) & (df_lab_events1['VALUENUM'] < 75).astype('int'))

In [34]:
print(df_lab_events1.query('ITEMID == 50931').tail())

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853810       98994  178949.0   50931   104     104.0    mg/dL  abnormal
27853896       98994  178949.0   50931   125     125.0    mg/dL  abnormal
27853921       96442  107499.0   50931   103     103.0    mg/dL  abnormal
27853946       96442  107499.0   50931   107     107.0    mg/dL  abnormal
27853973       96442  120151.0   50931   110     110.0    mg/dL  abnormal

          spo2high  glucoselow
27853810     False       False
27853896     False       False
27853921     False       False
27853946     False       False
27853973     False       False

In [35]:
## ASSIGN bicarbonatehigh column based on values
df_lab_events1['bicarbonatehigh'] = ((df_lab_events1['ITEMID'] == 50882) & (df_lab_events1['VALUENUM'] > 29).astype('int'))

In [36]:
print(df_lab_events1.query('ITEMID == 50882').tail())

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853891       98994  178949.0   50882    19      19.0    mEq/L  abnormal
27853916       96442  107499.0   50882    26      26.0    mEq/L       NaN
27853941       96442  107499.0   50882    25      25.0    mEq/L       NaN
27853970       96442  120151.0   50882    25      25.0    mEq/L       NaN
27854050       96443  103219.0   50882    26      26.0    mEq/L       NaN

          spo2high  glucoselow  bicarbonatehigh
27853891     False       False            False
27853916     False       False            False
27853941     False       False            False
27853970     False       False            False
27854050     False       False            False

In [37]:
## ASSIGN bicarbonatelow column based on values
df_lab_events1['bicarbonatelow'] = ((df_lab_events1['ITEMID'] == 50882) & (df_lab_events1['VALUENUM'] < 22).astype('int'))

In [38]:
print(df_lab_events1.query('ITEMID == 50882').tail())

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853891       98994  178949.0   50882    19      19.0    mEq/L  abnormal
27853916       96442  107499.0   50882    26      26.0    mEq/L       NaN
27853941       96442  107499.0   50882    25      25.0    mEq/L       NaN
27853970       96442  120151.0   50882    25      25.0    mEq/L       NaN
27854050       96443  103219.0   50882    26      26.0    mEq/L       NaN

          spo2high  glucoselow  bicarbonatehigh  bicarbonatelow
27853891     False       False            False            True
27853916     False       False            False           False
27853941     False       False            False           False
27853970     False       False            False           False
27854050     False       False            False           False

In [39]:
## ASSIGN creatininehigh column based on values
df_lab_events1['creatininehigh'] = ((df_lab_events1['ITEMID'] == 50912) & (df_lab_events1['VALUENUM'] > 1.3).astype('int'))

In [40]:
print(df_lab_events1.query('ITEMID == 50912').tail())

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853910       96430  113912.0   50912   0.8       0.8    mg/dL       NaN
27853920       96442  107499.0   50912   0.9       0.9    mg/dL       NaN
27853944       96442  107499.0   50912   1.1       1.1    mg/dL       NaN
27853972       96442  120151.0   50912   1.7       1.7    mg/dL  abnormal
27854054       96443  103219.0   50912   1.6       1.6    mg/dL  abnormal

          spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  \
27853910     False       False            False           False
27853920     False       False            False           False
27853944     False       False            False           False
27853972     False       False            False           False
27854054     False       False            False           False

          creatininehigh
27853910           False
27853920           False
27853944           False
27853972            True
27854054            True

In [41]:
## ASSIGN creatininelow column based on values
df_lab_events1['creatininelow'] = ((df_lab_events1['ITEMID'] == 50912) & (df_lab_events1['VALUENUM'] < 0.6).astype('int'))

In [42]:
print(df_lab_events1.query('ITEMID == 50912').tail())

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853910       96430  113912.0   50912   0.8       0.8    mg/dL       NaN
27853920       96442  107499.0   50912   0.9       0.9    mg/dL       NaN
27853944       96442  107499.0   50912   1.1       1.1    mg/dL       NaN
27853972       96442  120151.0   50912   1.7       1.7    mg/dL  abnormal
27854054       96443  103219.0   50912   1.6       1.6    mg/dL  abnormal

          spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  \
27853910     False       False            False           False
27853920     False       False            False           False
27853944     False       False            False           False
27853972     False       False            False           False
27854054     False       False            False           False

          creatininehigh  creatininelow
27853910           False          False
27853920           False          False
27853944           False          False
27853972            True          False
27854054            True          False

In [43]:
## ASSIGN hematocrithigh column based on values
df_lab_events1['hematocrithigh'] = ((df_lab_events1['ITEMID'] == 51221) & (df_lab_events1['VALUENUM'] > 48).astype('int'))

In [44]:
print(df_lab_events1.query('ITEMID == 51221').tail(20))

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853324       99283  166869.0   51221  37.8      37.8        %       NaN
27853358       99283  166869.0   51221  34.5      34.5        %  abnormal
27853383       99288  179982.0   51221  36.8      36.8        %  abnormal
27853408       99288  179982.0   51221  37.0      37.0        %  abnormal
27853462       98751  156499.0   51221  23.8      23.8        %  abnormal
27853535       98994  161559.0   51221  35.8      35.8        %  abnormal
27853548       98994  161559.0   51221  36.6      36.6        %  abnormal
27853629       99255  155692.0   51221  28.3      28.3        %  abnormal
27853659       99260  181010.0   51221  22.6      22.6        %  abnormal
27853681       99260  181010.0   51221  22.0      22.0        %  abnormal
27853693       99260  181010.0   51221  23.2      23.2        %  abnormal
27853712       99268  128633.0   51221  31.2      31.2        %  abnormal
27853744       99268  128633.0   51221  28.8      28.8        %  abnormal
27853777       98994  178949.0   51221  30.9      30.9        %  abnormal
27853816       98994  178949.0   51221  23.7      23.7        %  abnormal
27853904       98994  178949.0   51221  26.0      26.0        %  abnormal
27853914       96430  113912.0   51221  30.4      30.4        %  abnormal
27853930       96442  107499.0   51221  23.9      23.9        %  abnormal
27853957       96442  107499.0   51221  23.2      23.2        %  abnormal
27853980       96442  120151.0   51221  29.0      29.0        %  abnormal

          spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  \
27853324     False       False            False           False
27853358     False       False            False           False
27853383     False       False            False           False
27853408     False       False            False           False
27853462     False       False            False           False
27853535     False       False            False           False
27853548     False       False            False           False
27853629     False       False            False           False
27853659     False       False            False           False
27853681     False       False            False           False
27853693     False       False            False           False
27853712     False       False            False           False
27853744     False       False            False           False
27853777     False       False            False           False
27853816     False       False            False           False
27853904     False       False            False           False
27853914     False       False            False           False
27853930     False       False            False           False
27853957     False       False            False           False
27853980     False       False            False           False

          creatininehigh  creatininelow  hematocrithigh
27853324           False          False           False
27853358           False          False           False
27853383           False          False           False
27853408           False          False           False
27853462           False          False           False
27853535           False          False           False
27853548           False          False           False
27853629           False          False           False
27853659           False          False           False
27853681           False          False           False
27853693           False          False           False
27853712           False          False           False
27853744           False          False           False
27853777           False          False           False
27853816           False          False           False
27853904           False          False           False
27853914           False          False           False
27853930           False          False           False
27853957           False          False           False
27853980           False          False           False

In [45]:
## ASSIGN hematocritlow column based on values
df_lab_events1['hematocritlow'] = ((df_lab_events1['ITEMID'] == 51221) & (df_lab_events1['VALUENUM'] < 36).astype('int'))

In [46]:
print(df_lab_events1.query('ITEMID == 51221').tail(20))

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27853324       99283  166869.0   51221  37.8      37.8        %       NaN
27853358       99283  166869.0   51221  34.5      34.5        %  abnormal
27853383       99288  179982.0   51221  36.8      36.8        %  abnormal
27853408       99288  179982.0   51221  37.0      37.0        %  abnormal
27853462       98751  156499.0   51221  23.8      23.8        %  abnormal
27853535       98994  161559.0   51221  35.8      35.8        %  abnormal
27853548       98994  161559.0   51221  36.6      36.6        %  abnormal
27853629       99255  155692.0   51221  28.3      28.3        %  abnormal
27853659       99260  181010.0   51221  22.6      22.6        %  abnormal
27853681       99260  181010.0   51221  22.0      22.0        %  abnormal
27853693       99260  181010.0   51221  23.2      23.2        %  abnormal
27853712       99268  128633.0   51221  31.2      31.2        %  abnormal
27853744       99268  128633.0   51221  28.8      28.8        %  abnormal
27853777       98994  178949.0   51221  30.9      30.9        %  abnormal
27853816       98994  178949.0   51221  23.7      23.7        %  abnormal
27853904       98994  178949.0   51221  26.0      26.0        %  abnormal
27853914       96430  113912.0   51221  30.4      30.4        %  abnormal
27853930       96442  107499.0   51221  23.9      23.9        %  abnormal
27853957       96442  107499.0   51221  23.2      23.2        %  abnormal
27853980       96442  120151.0   51221  29.0      29.0        %  abnormal

          spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  \
27853324     False       False            False           False
27853358     False       False            False           False
27853383     False       False            False           False
27853408     False       False            False           False
27853462     False       False            False           False
27853535     False       False            False           False
27853548     False       False            False           False
27853629     False       False            False           False
27853659     False       False            False           False
27853681     False       False            False           False
27853693     False       False            False           False
27853712     False       False            False           False
27853744     False       False            False           False
27853777     False       False            False           False
27853816     False       False            False           False
27853904     False       False            False           False
27853914     False       False            False           False
27853930     False       False            False           False
27853957     False       False            False           False
27853980     False       False            False           False

          creatininehigh  creatininelow  hematocrithigh  hematocritlow
27853324           False          False           False          False
27853358           False          False           False           True
27853383           False          False           False          False
27853408           False          False           False          False
27853462           False          False           False           True
27853535           False          False           False           True
27853548           False          False           False          False
27853629           False          False           False           True
27853659           False          False           False           True
27853681           False          False           False           True
27853693           False          False           False           True
27853712           False          False           False           True
27853744           False          False           False           True
27853777           False          False           False           True
27853816           False          False           False           True
27853904           False          False           False           True
27853914           False          False           False           True
27853930           False          False           False           True
27853957           False          False           False           True
27853980           False          False           False           True

In [47]:
## ASSIGN hemoglobinhigh column based on values
df_lab_events1['hemoglobinhigh'] = ((df_lab_events1['ITEMID'] == 51222) & (df_lab_events1['VALUENUM'] > 16).astype('int'))

In [48]:
print(df_lab_events1.query('ITEMID == 51222').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
192            3  145834.0   51222   9.5       9.5     g/dL  abnormal
360            3  145834.0   51222  10.5      10.5     g/dL  abnormal
415            3  145834.0   51222   7.8       7.8     g/dL  abnormal
450            3  145834.0   51222   8.2       8.2     g/dL  abnormal
523            3  145834.0   51222  10.0      10.0     g/dL  abnormal
600            2  163353.0   51222     0       0.0     g/dL  abnormal
619            2  163353.0   51222  16.5      16.5     g/dL  abnormal
1255           3  145834.0   51222   9.7       9.7     g/dL  abnormal
1434           3  145834.0   51222  10.4      10.4     g/dL  abnormal
1712           4  185777.0   51222  11.5      11.5     g/dL  abnormal
1771           3  145834.0   51222  10.1      10.1     g/dL  abnormal
1870           3  145834.0   51222  10.2      10.2     g/dL  abnormal
1905           3  145834.0   51222   9.7       9.7     g/dL  abnormal
1956           3  145834.0   51222   9.7       9.7     g/dL  abnormal
1982           3  145834.0   51222  10.6      10.6     g/dL  abnormal
2012           3  145834.0   51222  10.6      10.6     g/dL  abnormal
2044           3  145834.0   51222  11.5      11.5     g/dL  abnormal
2064           3  145834.0   51222  11.2      11.2     g/dL  abnormal
2335           4  185777.0   51222  10.6      10.6     g/dL  abnormal
2367           4  185777.0   51222  10.5      10.5     g/dL  abnormal

      spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  creatininehigh  \
192      False       False            False           False           False
360      False       False            False           False           False
415      False       False            False           False           False
450      False       False            False           False           False
523      False       False            False           False           False
600      False       False            False           False           False
619      False       False            False           False           False
1255     False       False            False           False           False
1434     False       False            False           False           False
1712     False       False            False           False           False
1771     False       False            False           False           False
1870     False       False            False           False           False
1905     False       False            False           False           False
1956     False       False            False           False           False
1982     False       False            False           False           False
2012     False       False            False           False           False
2044     False       False            False           False           False
2064     False       False            False           False           False
2335     False       False            False           False           False
2367     False       False            False           False           False

      creatininelow  hematocrithigh  hematocritlow  hemoglobinhigh
192           False           False          False           False
360           False           False          False           False
415           False           False          False           False
450           False           False          False           False
523           False           False          False           False
600           False           False          False           False
619           False           False          False            True
1255          False           False          False           False
1434          False           False          False           False
1712          False           False          False           False
1771          False           False          False           False
1870          False           False          False           False
1905          False           False          False           False
1956          False           False          False           False
1982          False           False          False           False
2012          False           False          False           False
2044          False           False          False           False
2064          False           False          False           False
2335          False           False          False           False
2367          False           False          False           False

In [49]:
## ASSIGN hemoglobinlow column based on values
df_lab_events1['hemoglobinlow'] = ((df_lab_events1['ITEMID'] == 51222) & (df_lab_events1['VALUENUM'] < 11.6).astype('int'))

In [50]:
print(df_lab_events1.query('ITEMID == 51222').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
192            3  145834.0   51222   9.5       9.5     g/dL  abnormal
360            3  145834.0   51222  10.5      10.5     g/dL  abnormal
415            3  145834.0   51222   7.8       7.8     g/dL  abnormal
450            3  145834.0   51222   8.2       8.2     g/dL  abnormal
523            3  145834.0   51222  10.0      10.0     g/dL  abnormal
600            2  163353.0   51222     0       0.0     g/dL  abnormal
619            2  163353.0   51222  16.5      16.5     g/dL  abnormal
1255           3  145834.0   51222   9.7       9.7     g/dL  abnormal
1434           3  145834.0   51222  10.4      10.4     g/dL  abnormal
1712           4  185777.0   51222  11.5      11.5     g/dL  abnormal
1771           3  145834.0   51222  10.1      10.1     g/dL  abnormal
1870           3  145834.0   51222  10.2      10.2     g/dL  abnormal
1905           3  145834.0   51222   9.7       9.7     g/dL  abnormal
1956           3  145834.0   51222   9.7       9.7     g/dL  abnormal
1982           3  145834.0   51222  10.6      10.6     g/dL  abnormal
2012           3  145834.0   51222  10.6      10.6     g/dL  abnormal
2044           3  145834.0   51222  11.5      11.5     g/dL  abnormal
2064           3  145834.0   51222  11.2      11.2     g/dL  abnormal
2335           4  185777.0   51222  10.6      10.6     g/dL  abnormal
2367           4  185777.0   51222  10.5      10.5     g/dL  abnormal

      spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  creatininehigh  \
192      False       False            False           False           False
360      False       False            False           False           False
415      False       False            False           False           False
450      False       False            False           False           False
523      False       False            False           False           False
600      False       False            False           False           False
619      False       False            False           False           False
1255     False       False            False           False           False
1434     False       False            False           False           False
1712     False       False            False           False           False
1771     False       False            False           False           False
1870     False       False            False           False           False
1905     False       False            False           False           False
1956     False       False            False           False           False
1982     False       False            False           False           False
2012     False       False            False           False           False
2044     False       False            False           False           False
2064     False       False            False           False           False
2335     False       False            False           False           False
2367     False       False            False           False           False

      creatininelow  hematocrithigh  hematocritlow  hemoglobinhigh  \
192           False           False          False           False
360           False           False          False           False
415           False           False          False           False
450           False           False          False           False
523           False           False          False           False
600           False           False          False           False
619           False           False          False            True
1255          False           False          False           False
1434          False           False          False           False
1712          False           False          False           False
1771          False           False          False           False
1870          False           False          False           False
1905          False           False          False           False
1956          False           False          False           False
1982          False           False          False           False
2012          False           False          False           False
2044          False           False          False           False
2064          False           False          False           False
2335          False           False          False           False
2367          False           False          False           False

      hemoglobinlow
192            True
360            True
415            True
450            True
523            True
600            True
619           False
1255           True
1434           True
1712           True
1771           True
1870           True
1905           True
1956           True
1982           True
2012           True
2044           True
2064           True
2335           True
2367           True

In [51]:
## ASSIGN platelethigh column based on values
df_lab_events1['platelethigh'] = ((df_lab_events1['ITEMID'] == 51265) & (df_lab_events1['VALUENUM'] > 450).astype('int'))

In [53]:
print(df_lab_events1.query('ITEMID == 51265').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
202            3  145834.0   51265   179     179.0     K/uL       NaN
365            3  145834.0   51265   133     133.0     K/uL  abnormal
420            3  145834.0   51265   190     190.0     K/uL       NaN
455            3  145834.0   51265   253     253.0     K/uL       NaN
536            3  145834.0   51265   282     282.0     K/uL       NaN
609            2  163353.0   51265     5       5.0     K/uL  abnormal
632            2  163353.0   51265   302     302.0     K/uL       NaN
1268           3  145834.0   51265   359     359.0     K/uL       NaN
1438           3  145834.0   51265   219     219.0     K/uL       NaN
1719           4  185777.0   51265   207     207.0     K/uL       NaN
1776           3  145834.0   51265   121     121.0     K/uL  abnormal
1874           3  145834.0   51265   155     155.0     K/uL       NaN
1909           3  145834.0   51265   191     191.0     K/uL       NaN
1961           3  145834.0   51265   197     197.0     K/uL       NaN
1986           3  145834.0   51265   212     212.0     K/uL       NaN
2016           3  145834.0   51265   212     212.0     K/uL       NaN
2048           3  145834.0   51265   250     250.0     K/uL       NaN
2068           3  145834.0   51265   210     210.0     K/uL       NaN
2347           4  185777.0   51265   201     201.0     K/uL       NaN
2375           4  185777.0   51265   258     258.0     K/uL       NaN

      spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  creatininehigh  \
202      False       False            False           False           False
365      False       False            False           False           False
420      False       False            False           False           False
455      False       False            False           False           False
536      False       False            False           False           False
609      False       False            False           False           False
632      False       False            False           False           False
1268     False       False            False           False           False
1438     False       False            False           False           False
1719     False       False            False           False           False
1776     False       False            False           False           False
1874     False       False            False           False           False
1909     False       False            False           False           False
1961     False       False            False           False           False
1986     False       False            False           False           False
2016     False       False            False           False           False
2048     False       False            False           False           False
2068     False       False            False           False           False
2347     False       False            False           False           False
2375     False       False            False           False           False

      creatininelow  hematocrithigh  hematocritlow  hemoglobinhigh  \
202           False           False          False           False
365           False           False          False           False
420           False           False          False           False
455           False           False          False           False
536           False           False          False           False
609           False           False          False           False
632           False           False          False           False
1268          False           False          False           False
1438          False           False          False           False
1719          False           False          False           False
1776          False           False          False           False
1874          False           False          False           False
1909          False           False          False           False
1961          False           False          False           False
1986          False           False          False           False
2016          False           False          False           False
2048          False           False          False           False
2068          False           False          False           False
2347          False           False          False           False
2375          False           False          False           False

      hemoglobinlow  platelethigh
202           False         False
365           False         False
420           False         False
455           False         False
536           False         False
609           False         False
632           False         False
1268          False         False
1438          False         False
1719          False         False
1776          False         False
1874          False         False
1909          False         False
1961          False         False
1986          False         False
2016          False         False
2048          False         False
2068          False         False
2347          False         False
2375          False         False

In [54]:
## ASSIGN plateletlow column based on values
df_lab_events1['plateletlow'] = ((df_lab_events1['ITEMID'] == 51265) & (df_lab_events1['VALUENUM'] < 150).astype('int'))

In [55]:
print(df_lab_events1.query('ITEMID == 51265').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
202            3  145834.0   51265   179     179.0     K/uL       NaN
365            3  145834.0   51265   133     133.0     K/uL  abnormal
420            3  145834.0   51265   190     190.0     K/uL       NaN
455            3  145834.0   51265   253     253.0     K/uL       NaN
536            3  145834.0   51265   282     282.0     K/uL       NaN
609            2  163353.0   51265     5       5.0     K/uL  abnormal
632            2  163353.0   51265   302     302.0     K/uL       NaN
1268           3  145834.0   51265   359     359.0     K/uL       NaN
1438           3  145834.0   51265   219     219.0     K/uL       NaN
1719           4  185777.0   51265   207     207.0     K/uL       NaN
1776           3  145834.0   51265   121     121.0     K/uL  abnormal
1874           3  145834.0   51265   155     155.0     K/uL       NaN
1909           3  145834.0   51265   191     191.0     K/uL       NaN
1961           3  145834.0   51265   197     197.0     K/uL       NaN
1986           3  145834.0   51265   212     212.0     K/uL       NaN
2016           3  145834.0   51265   212     212.0     K/uL       NaN
2048           3  145834.0   51265   250     250.0     K/uL       NaN
2068           3  145834.0   51265   210     210.0     K/uL       NaN
2347           4  185777.0   51265   201     201.0     K/uL       NaN
2375           4  185777.0   51265   258     258.0     K/uL       NaN

      spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  creatininehigh  \
202      False       False            False           False           False
365      False       False            False           False           False
420      False       False            False           False           False
455      False       False            False           False           False
536      False       False            False           False           False
609      False       False            False           False           False
632      False       False            False           False           False
1268     False       False            False           False           False
1438     False       False            False           False           False
1719     False       False            False           False           False
1776     False       False            False           False           False
1874     False       False            False           False           False
1909     False       False            False           False           False
1961     False       False            False           False           False
1986     False       False            False           False           False
2016     False       False            False           False           False
2048     False       False            False           False           False
2068     False       False            False           False           False
2347     False       False            False           False           False
2375     False       False            False           False           False

      creatininelow  hematocrithigh  hematocritlow  hemoglobinhigh  \
202           False           False          False           False
365           False           False          False           False
420           False           False          False           False
455           False           False          False           False
536           False           False          False           False
609           False           False          False           False
632           False           False          False           False
1268          False           False          False           False
1438          False           False          False           False
1719          False           False          False           False
1776          False           False          False           False
1874          False           False          False           False
1909          False           False          False           False
1961          False           False          False           False
1986          False           False          False           False
2016          False           False          False           False
2048          False           False          False           False
2068          False           False          False           False
2347          False           False          False           False
2375          False           False          False           False

      hemoglobinlow  platelethigh  plateletlow
202           False         False        False
365           False         False         True
420           False         False        False
455           False         False        False
536           False         False        False
609           False         False         True
632           False         False        False
1268          False         False        False
1438          False         False        False
1719          False         False        False
1776          False         False         True
1874          False         False        False
1909          False         False        False
1961          False         False        False
1986          False         False        False
2016          False         False        False
2048          False         False        False
2068          False         False        False
2347          False         False        False
2375          False         False        False

In [56]:
## ASSIGN potassiumhigh column based on values
df_lab_events1['potassiumhigh'] = ((df_lab_events1['ITEMID'] == 50971) & (df_lab_events1['VALUENUM'] > 5.2).astype('int'))

In [258]:
print(df_lab_events1.query('ITEMID == 50971').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
170            3  145834.0   50971   5.4       5.4    mEq/L  abnormal
184            3  145834.0   50971   4.3       4.3    mEq/L       NaN
300            3  145834.0   50971   4.1       4.1    mEq/L       NaN
355            3  145834.0   50971   4.1       4.1    mEq/L       NaN
443            3  145834.0   50971   4.1       4.1    mEq/L       NaN
593            3  145834.0   50971   4.0       4.0    mEq/L       NaN
1245           3  145834.0   50971   4.4       4.4    mEq/L       NaN
1343           3  145834.0   50971   3.9       3.9    mEq/L       NaN
1432           3  145834.0   50971   4.9       4.9    mEq/L       NaN
1706           4  185777.0   50971   3.1       3.1    mEq/L  abnormal
1766           3  145834.0   50971   3.5       3.5    mEq/L       NaN
1856           3  145834.0   50971   4.4       4.4    mEq/L       NaN
1865           3  145834.0   50971   3.9       3.9    mEq/L       NaN
1884           3  145834.0   50971   3.8       3.8    mEq/L       NaN
1901           3  145834.0   50971   3.4       3.4    mEq/L  abnormal
1951           3  145834.0   50971   4.4       4.4    mEq/L       NaN
1978           3  145834.0   50971   3.9       3.9    mEq/L       NaN
2007           3  145834.0   50971   3.5       3.5    mEq/L       NaN
2040           3  145834.0   50971   3.8       3.8    mEq/L       NaN
2060           3  145834.0   50971   4.2       4.2    mEq/L       NaN

      spo2high  glucoselow  bicarbonatehigh  bicarbonatelow  creatininehigh  \
170      False       False            False           False           False
184      False       False            False           False           False
300      False       False            False           False           False
355      False       False            False           False           False
443      False       False            False           False           False
593      False       False            False           False           False
1245     False       False            False           False           False
1343     False       False            False           False           False
1432     False       False            False           False           False
1706     False       False            False           False           False
1766     False       False            False           False           False
1856     False       False            False           False           False
1865     False       False            False           False           False
1884     False       False            False           False           False
1901     False       False            False           False           False
1951     False       False            False           False           False
1978     False       False            False           False           False
2007     False       False            False           False           False
2040     False       False            False           False           False
2060     False       False            False           False           False

      creatininelow  hematocrithigh  hematocritlow  hemoglobinhigh  \
170           False           False          False           False
184           False           False          False           False
300           False           False          False           False
355           False           False          False           False
443           False           False          False           False
593           False           False          False           False
1245          False           False          False           False
1343          False           False          False           False
1432          False           False          False           False
1706          False           False          False           False
1766          False           False          False           False
1856          False           False          False           False
1865          False           False          False           False
1884          False           False          False           False
1901          False           False          False           False
1951          False           False          False           False
1978          False           False          False           False
2007          False           False          False           False
2040          False           False          False           False
2060          False           False          False           False

      hemoglobinlow  platelethigh  plateletlow  potassiumhigh
170           False         False        False           True
184           False         False        False          False
300           False         False        False          False
355           False         False        False          False
443           False         False        False          False
593           False         False        False          False
1245          False         False        False          False
1343          False         False        False          False
1432          False         False        False          False
1706          False         False        False          False
1766          False         False        False          False
1856          False         False        False          False
1865          False         False        False          False
1884          False         False        False          False
1901          False         False        False          False
1951          False         False        False          False
1978          False         False        False          False
2007          False         False        False          False
2040          False         False        False          False
2060          False         False        False          False

In [57]:
## ASSIGN potassiumlow column based on values
df_lab_events1['potassiumlow'] = ((df_lab_events1['ITEMID'] == 50971) & (df_lab_events1['VALUENUM'] < 3.6).astype('int'))

In [260]:
print(df_lab_events1.query('ITEMID == 50971').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
170            3  145834.0   50971   5.4       5.4    mEq/L  abnormal
184            3  145834.0   50971   4.3       4.3    mEq/L       NaN
300            3  145834.0   50971   4.1       4.1    mEq/L       NaN
355            3  145834.0   50971   4.1       4.1    mEq/L       NaN
443            3  145834.0   50971   4.1       4.1    mEq/L       NaN
593            3  145834.0   50971   4.0       4.0    mEq/L       NaN
1245           3  145834.0   50971   4.4       4.4    mEq/L       NaN
1343           3  145834.0   50971   3.9       3.9    mEq/L       NaN
1432           3  145834.0   50971   4.9       4.9    mEq/L       NaN
1706           4  185777.0   50971   3.1       3.1    mEq/L  abnormal
1766           3  145834.0   50971   3.5       3.5    mEq/L       NaN
1856           3  145834.0   50971   4.4       4.4    mEq/L       NaN
1865           3  145834.0   50971   3.9       3.9    mEq/L       NaN
1884           3  145834.0   50971   3.8       3.8    mEq/L       NaN
1901           3  145834.0   50971   3.4       3.4    mEq/L  abnormal
1951           3  145834.0   50971   4.4       4.4    mEq/L       NaN
1978           3  145834.0   50971   3.9       3.9    mEq/L       NaN
2007           3  145834.0   50971   3.5       3.5    mEq/L       NaN
2040           3  145834.0   50971   3.8       3.8    mEq/L       NaN
2060           3  145834.0   50971   4.2       4.2    mEq/L       NaN

      spo2high  glucoselow  bicarbonatehigh  ...  creatininehigh  \
170      False       False            False  ...           False
184      False       False            False  ...           False
300      False       False            False  ...           False
355      False       False            False  ...           False
443      False       False            False  ...           False
593      False       False            False  ...           False
1245     False       False            False  ...           False
1343     False       False            False  ...           False
1432     False       False            False  ...           False
1706     False       False            False  ...           False
1766     False       False            False  ...           False
1856     False       False            False  ...           False
1865     False       False            False  ...           False
1884     False       False            False  ...           False
1901     False       False            False  ...           False
1951     False       False            False  ...           False
1978     False       False            False  ...           False
2007     False       False            False  ...           False
2040     False       False            False  ...           False
2060     False       False            False  ...           False

      creatininelow  hematocrithigh  hematocritlow  hemoglobinhigh  \
170           False           False          False           False
184           False           False          False           False
300           False           False          False           False
355           False           False          False           False
443           False           False          False           False
593           False           False          False           False
1245          False           False          False           False
1343          False           False          False           False
1432          False           False          False           False
1706          False           False          False           False
1766          False           False          False           False
1856          False           False          False           False
1865          False           False          False           False
1884          False           False          False           False
1901          False           False          False           False
1951          False           False          False           False
1978          False           False          False           False
2007          False           False          False           False
2040          False           False          False           False
2060          False           False          False           False

      hemoglobinlow  platelethigh  plateletlow  potassiumhigh  potassiumlow
170           False         False        False           True         False
184           False         False        False          False         False
300           False         False        False          False         False
355           False         False        False          False         False
443           False         False        False          False         False
593           False         False        False          False         False
1245          False         False        False          False         False
1343          False         False        False          False         False
1432          False         False        False          False         False
1706          False         False        False          False          True
1766          False         False        False          False          True
1856          False         False        False          False         False
1865          False         False        False          False         False
1884          False         False        False          False         False
1901          False         False        False          False          True
1951          False         False        False          False         False
1978          False         False        False          False         False
2007          False         False        False          False          True
2040          False         False        False          False         False
2060          False         False        False          False         False

[20 rows x 21 columns]

In [58]:
## ASSIGN bunhigh column based on values
df_lab_events1['bunhigh'] = ((df_lab_events1['ITEMID'] == 51006) & (df_lab_events1['VALUENUM'] > 23).astype('int'))

In [264]:
print(df_lab_events1.query('ITEMID == 51006').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
187            3  145834.0   51006    36      36.0    mg/dL  abnormal
302            3  145834.0   51006    32      32.0    mg/dL  abnormal
358            3  145834.0   51006    30      30.0    mg/dL  abnormal
413            3  145834.0   51006    41      41.0    mg/dL  abnormal
446            3  145834.0   51006    43      43.0    mg/dL  abnormal
516            3  145834.0   51006    53      53.0    mg/dL  abnormal
1247           3  145834.0   51006    42      42.0    mg/dL  abnormal
1708           4  185777.0   51006     9       9.0    mg/dL       NaN
1769           3  145834.0   51006    24      24.0    mg/dL  abnormal
1868           3  145834.0   51006    20      20.0    mg/dL       NaN
1903           3  145834.0   51006    17      17.0    mg/dL       NaN
1954           3  145834.0   51006    18      18.0    mg/dL       NaN
1980           3  145834.0   51006    18      18.0    mg/dL       NaN
2010           3  145834.0   51006    17      17.0    mg/dL       NaN
2042           3  145834.0   51006    16      16.0    mg/dL       NaN
2062           3  145834.0   51006    15      15.0    mg/dL       NaN
2329           4  185777.0   51006    10      10.0    mg/dL       NaN
2362           4  185777.0   51006    16      16.0    mg/dL       NaN
2389           4  185777.0   51006    20      20.0    mg/dL       NaN
2409           4  185777.0   51006    18      18.0    mg/dL       NaN

      spo2high  glucoselow  bicarbonatehigh  ...  creatininelow  \
187      False       False            False  ...          False
302      False       False            False  ...          False
358      False       False            False  ...          False
413      False       False            False  ...          False
446      False       False            False  ...          False
516      False       False            False  ...          False
1247     False       False            False  ...          False
1708     False       False            False  ...          False
1769     False       False            False  ...          False
1868     False       False            False  ...          False
1903     False       False            False  ...          False
1954     False       False            False  ...          False
1980     False       False            False  ...          False
2010     False       False            False  ...          False
2042     False       False            False  ...          False
2062     False       False            False  ...          False
2329     False       False            False  ...          False
2362     False       False            False  ...          False
2389     False       False            False  ...          False
2409     False       False            False  ...          False

      hematocrithigh  hematocritlow  hemoglobinhigh  hemoglobinlow  \
187            False          False           False          False
302            False          False           False          False
358            False          False           False          False
413            False          False           False          False
446            False          False           False          False
516            False          False           False          False
1247           False          False           False          False
1708           False          False           False          False
1769           False          False           False          False
1868           False          False           False          False
1903           False          False           False          False
1954           False          False           False          False
1980           False          False           False          False
2010           False          False           False          False
2042           False          False           False          False
2062           False          False           False          False
2329           False          False           False          False
2362           False          False           False          False
2389           False          False           False          False
2409           False          False           False          False

      platelethigh  plateletlow  potassiumhigh  potassiumlow  bunhigh
187          False        False          False         False     True
302          False        False          False         False     True
358          False        False          False         False     True
413          False        False          False         False     True
446          False        False          False         False     True
516          False        False          False         False     True
1247         False        False          False         False     True
1708         False        False          False         False    False
1769         False        False          False         False     True
1868         False        False          False         False    False
1903         False        False          False         False    False
1954         False        False          False         False    False
1980         False        False          False         False    False
2010         False        False          False         False    False
2042         False        False          False         False    False
2062         False        False          False         False    False
2329         False        False          False         False    False
2362         False        False          False         False    False
2389         False        False          False         False    False
2409         False        False          False         False    False

[20 rows x 22 columns]

In [59]:
## ASSIGN bunlow column based on values
df_lab_events1['bunlow'] = ((df_lab_events1['ITEMID'] == 51006) & (df_lab_events1['VALUENUM'] < 7).astype('int'))

In [268]:
print(df_lab_events1.query('ITEMID == 51006').tail(20))

         SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
9998806       16258  136267.0   51006    17      17.0    mg/dL       NaN
9998830       16258  136267.0   51006    13      13.0    mg/dL       NaN
9998869       16256  123706.0   51006    25      25.0    mg/dL  abnormal
9998893       16256  123706.0   51006    30      30.0    mg/dL  abnormal
9998924       16256  123706.0   51006    30      30.0    mg/dL  abnormal
9999154       16248  151741.0   51006    15      15.0    mg/dL       NaN
9999284       16241  101623.0   51006    24      24.0    mg/dL  abnormal
9999355       16271  148595.0   51006     4       4.0    mg/dL  abnormal
9999376       16271  148595.0   51006     3       3.0    mg/dL  abnormal
9999398       16275  185592.0   51006     8       8.0    mg/dL       NaN
9999455       16275  185592.0   51006    12      12.0    mg/dL       NaN
9999486       16423  186792.0   51006     3       3.0    mg/dL  abnormal
9999526       16428  114010.0   51006    11      11.0    mg/dL       NaN
9999579       16429  149904.0   51006    11      11.0    mg/dL       NaN
9999635       16419  152176.0   51006    24      24.0    mg/dL  abnormal
9999668       16419  152176.0   51006    22      22.0    mg/dL  abnormal
9999705       16423  186792.0   51006     4       4.0    mg/dL  abnormal
9999898       16415  162957.0   51006    63      63.0    mg/dL  abnormal
9999909       16415  162957.0   51006    63      63.0    mg/dL  abnormal
9999958       16410  168812.0   51006     8       8.0    mg/dL       NaN

         spo2high  glucoselow  bicarbonatehigh  ...  hematocrithigh  \
9998806     False       False            False  ...           False
9998830     False       False            False  ...           False
9998869     False       False            False  ...           False
9998893     False       False            False  ...           False
9998924     False       False            False  ...           False
9999154     False       False            False  ...           False
9999284     False       False            False  ...           False
9999355     False       False            False  ...           False
9999376     False       False            False  ...           False
9999398     False       False            False  ...           False
9999455     False       False            False  ...           False
9999486     False       False            False  ...           False
9999526     False       False            False  ...           False
9999579     False       False            False  ...           False
9999635     False       False            False  ...           False
9999668     False       False            False  ...           False
9999705     False       False            False  ...           False
9999898     False       False            False  ...           False
9999909     False       False            False  ...           False
9999958     False       False            False  ...           False

         hematocritlow  hemoglobinhigh  hemoglobinlow  platelethigh  \
9998806          False           False          False         False
9998830          False           False          False         False
9998869          False           False          False         False
9998893          False           False          False         False
9998924          False           False          False         False
9999154          False           False          False         False
9999284          False           False          False         False
9999355          False           False          False         False
9999376          False           False          False         False
9999398          False           False          False         False
9999455          False           False          False         False
9999486          False           False          False         False
9999526          False           False          False         False
9999579          False           False          False         False
9999635          False           False          False         False
9999668          False           False          False         False
9999705          False           False          False         False
9999898          False           False          False         False
9999909          False           False          False         False
9999958          False           False          False         False

         plateletlow  potassiumhigh  potassiumlow  bunhigh  bunlow
9998806        False          False         False    False   False
9998830        False          False         False    False   False
9998869        False          False         False     True   False
9998893        False          False         False     True   False
9998924        False          False         False     True   False
9999154        False          False         False    False   False
9999284        False          False         False     True   False
9999355        False          False         False    False    True
9999376        False          False         False    False    True
9999398        False          False         False    False   False
9999455        False          False         False    False   False
9999486        False          False         False    False    True
9999526        False          False         False    False   False
9999579        False          False         False    False   False
9999635        False          False         False     True   False
9999668        False          False         False    False   False
9999705        False          False         False    False    True
9999898        False          False         False     True   False
9999909        False          False         False     True   False
9999958        False          False         False    False   False

[20 rows x 23 columns]

In [60]:
## ASSIGN wbchigh column based on values
df_lab_events1['wbchigh'] = ((df_lab_events1['ITEMID'] == 51301) & (df_lab_events1['VALUENUM'] > 11).astype('int'))

In [ ]:
print(df_lab_events1.query('ITEMID == 51301').tail(20))

In [61]:
## ASSIGN wbclow column based on values
df_lab_events1['wbclow'] = ((df_lab_events1['ITEMID'] == 51301) & (df_lab_events1['VALUENUM'] < 4.5).astype('int'))

In [275]:
print(df_lab_events1.query('ITEMID == 51301').head(20))

      SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
207            3  145834.0   51301  15.1      15.1     K/uL  abnormal
370            3  145834.0   51301  12.5      12.5     K/uL  abnormal
425            3  145834.0   51301  11.3      11.3     K/uL  abnormal
460            3  145834.0   51301  19.1      19.1     K/uL  abnormal
543            3  145834.0   51301  12.7      12.7     K/uL  abnormal
612            2  163353.0   51301   0.1       0.1     K/uL  abnormal
638            2  163353.0   51301  22.0      22.0     K/uL  abnormal
1275           3  145834.0   51301  24.4      24.4     K/uL  abnormal
1441           3  145834.0   51301  18.8      18.8     K/uL  abnormal
1722           4  185777.0   51301   9.7       9.7     K/uL     delta
1781           3  145834.0   51301  10.3      10.3     K/uL       NaN
1877           3  145834.0   51301  10.7      10.7     K/uL       NaN
1912           3  145834.0   51301  10.5      10.5     K/uL       NaN
1966           3  145834.0   51301   8.9       8.9     K/uL       NaN
1989           3  145834.0   51301   9.7       9.7     K/uL       NaN
2019           3  145834.0   51301   7.5       7.5     K/uL       NaN
2051           3  145834.0   51301   8.5       8.5     K/uL       NaN
2071           3  145834.0   51301   8.0       8.0     K/uL       NaN
2354           4  185777.0   51301   9.7       9.7     K/uL       NaN
2378           4  185777.0   51301   7.3       7.3     K/uL       NaN

      spo2high  glucoselow  bicarbonatehigh  ...  hemoglobinhigh  \
207      False       False            False  ...           False
370      False       False            False  ...           False
425      False       False            False  ...           False
460      False       False            False  ...           False
543      False       False            False  ...           False
612      False       False            False  ...           False
638      False       False            False  ...           False
1275     False       False            False  ...           False
1441     False       False            False  ...           False
1722     False       False            False  ...           False
1781     False       False            False  ...           False
1877     False       False            False  ...           False
1912     False       False            False  ...           False
1966     False       False            False  ...           False
1989     False       False            False  ...           False
2019     False       False            False  ...           False
2051     False       False            False  ...           False
2071     False       False            False  ...           False
2354     False       False            False  ...           False
2378     False       False            False  ...           False

      hemoglobinlow  platelethigh  plateletlow  potassiumhigh  potassiumlow  \
207           False         False        False          False         False
370           False         False        False          False         False
425           False         False        False          False         False
460           False         False        False          False         False
543           False         False        False          False         False
612           False         False        False          False         False
638           False         False        False          False         False
1275          False         False        False          False         False
1441          False         False        False          False         False
1722          False         False        False          False         False
1781          False         False        False          False         False
1877          False         False        False          False         False
1912          False         False        False          False         False
1966          False         False        False          False         False
1989          False         False        False          False         False
2019          False         False        False          False         False
2051          False         False        False          False         False
2071          False         False        False          False         False
2354          False         False        False          False         False
2378          False         False        False          False         False

      bunhigh  bunlow  wbchigh  wbclow
207     False   False     True   False
370     False   False     True   False
425     False   False     True   False
460     False   False     True   False
543     False   False     True   False
612     False   False    False    True
638     False   False     True   False
1275    False   False     True   False
1441    False   False     True   False
1722    False   False    False   False
1781    False   False    False   False
1877    False   False    False   False
1912    False   False    False   False
1966    False   False    False   False
1989    False   False    False   False
2019    False   False    False   False
2051    False   False    False   False
2071    False   False    False   False
2354    False   False    False   False
2378    False   False    False   False

[20 rows x 25 columns]

In [62]:
## ASSIGN antibiotics column based on values
df_lab_events1['antibiotics'] = (((df_lab_events1['ITEMID'] == 51009) | (df_lab_events1['ITEMID'] == 50865) | (df_lab_events1['ITEMID'] == 50929) | (df_lab_events1['ITEMID'] == 50997)) & (df_lab_events1['VALUENUM'] > 0).astype('int'))

In [63]:
print(df_lab_events1.query('ITEMID == 51009 | ITEMID == 50865 | ITEMID == 50929 | ITEMID == 50997').tail(10))

          SUBJECT_ID   HADM_ID  ITEMID VALUE  VALUENUM VALUEUOM      FLAG  \
27850734       98905  188430.0   51009  20.0      20.0    ug/mL       NaN
27851167       99178  160396.0   51009  20.9      20.9    ug/mL  abnormal
27851693       98864  124860.0   51009  15.2      15.2    ug/mL       NaN
27851778       99115  132152.0   51009  18.8      18.8    ug/mL       NaN
27851893       98864  141667.0   51009   9.4       9.4    ug/mL  abnormal
27852035       99096  190010.0   51009  18.5      18.5    ug/mL       NaN
27852956       99063  166460.0   51009  16.8      16.8    ug/mL       NaN
27852991       99063  166460.0   51009  30.9      30.9    ug/mL  abnormal
27853001       99063  166460.0   51009  21.0      21.0    ug/mL  abnormal
27853680       99260  181010.0   51009  25.8      25.8    ug/mL  abnormal

          spo2high  glucoselow  bicarbonatehigh  ...  hemoglobinlow  \
27850734     False       False            False  ...          False
27851167     False       False            False  ...          False
27851693     False       False            False  ...          False
27851778     False       False            False  ...          False
27851893     False       False            False  ...          False
27852035     False       False            False  ...          False
27852956     False       False            False  ...          False
27852991     False       False            False  ...          False
27853001     False       False            False  ...          False
27853680     False       False            False  ...          False

          platelethigh  plateletlow  potassiumhigh  potassiumlow  bunhigh  \
27850734         False        False          False         False    False
27851167         False        False          False         False    False
27851693         False        False          False         False    False
27851778         False        False          False         False    False
27851893         False        False          False         False    False
27852035         False        False          False         False    False
27852956         False        False          False         False    False
27852991         False        False          False         False    False
27853001         False        False          False         False    False
27853680         False        False          False         False    False

          bunlow  wbchigh  wbclow  antibiotics
27850734   False    False   False         True
27851167   False    False   False         True
27851693   False    False   False         True
27851778   False    False   False         True
27851893   False    False   False         True
27852035   False    False   False         True
27852956   False    False   False         True
27852991   False    False   False         True
27853001   False    False   False         True
27853680   False    False   False         True

[10 rows x 26 columns]

# Write both event files to the csv files

In [ ]:
#from pathlib import Path  
#filepath = Path('C:/Users/Chicki/Desktop/Data/updated')  
#filepath.parent.mkdir(parents=True, exist_ok=True)

In [ ]:
#df.to_csv ('C:/Users/Chicki/Desktop/Data/updated/ChartEvents_conv.csv', index = None, header=True)

In [64]:
df_chart_events1.to_csv ('C:/Users/Chicki/Desktop/Data/updated/ChartEvents_conv.csv', index = None, header=True)

In [65]:
df_lab_events1.to_csv ('C:/Users/Chicki/Desktop/Data/updated/LabEvents_conv.csv', index = None, header=True)

#  Items

In [199]:
df_items = pd.read_csv('C:/Users/Chicki/Desktop/Data/D_ITEMS.csv')
#print((df_items.head(5)))
#print(df_items['ITEMID' == 40055])
#print(df_items.query('ITEMID == 225411' or 'ITEMID = 6185'))
query_items = df_items.query('ITEMID == 50821')
#query_items = df_items.query('UNITNAME == "%"')
#query_items = df_items.query('ITEMID')
print(query_items)

Empty DataFrame
Columns: [ROW_ID, ITEMID, LABEL, ABBREVIATION, DBSOURCE, LINKSTO, CATEGORY, UNITNAME, PARAM_TYPE, CONCEPTID]
Index: []

In [286]:
#query_items_specific = df_items.query('LABEL.str.contains("rate", na=False)', engine = 'python', )
query_items_specific = df_items.query('LABEL.str.contains("antib", na=False)', engine = 'python', )
print(query_items_specific.head(20))
#df_items['LABEL'].str.contains('sys', na=False)

      ROW_ID  ITEMID                 LABEL ABBREVIATION DBSOURCE      LINKSTO  \
1354    1483    4478     triple antibiotic          NaN  carevue  chartevents
2123    2398    8125  triple antibio. oint          NaN  carevue  chartevents
2620    2074    5982   Triple antibx oint.          NaN  carevue  chartevents
4000    4000    8157    3x antibiotic oint          NaN  carevue  chartevents
4018    4018    8204         triple antibx          NaN  carevue  chartevents
4113    4113    6287    antibiotic ointmt.          NaN  carevue  chartevents
5081    4344    6720  Trip antibiotic oint          NaN  carevue  chartevents
5120    4383    6807    Triple antibx oint          NaN  carevue  chartevents

     CATEGORY UNITNAME PARAM_TYPE  CONCEPTID
1354      NaN      NaN        NaN        NaN
2123      NaN      NaN        NaN        NaN
2620      NaN      NaN        NaN        NaN
4000      NaN      NaN        NaN        NaN
4018      NaN      NaN        NaN        NaN
4113      NaN      NaN        NaN        NaN
5081      NaN      NaN        NaN        NaN
5120      NaN      NaN        NaN        NaN

# Lab Items

In [288]:
#df_lab_items = pd.read_csv('C:/Users/Chicki/Desktop/Data/D_LABITEMS.csv')
##print((df_lab_items.head(5)))
#query_lab_items = df_lab_items.query('ITEMID == 51006')
#query_lab_events = df_lab_items.query('ontains("Gas", na=False)', engine = 'python')
query_lab_items = df_lab_items.query('LABEL.str.contains("cin", na=False)', engine = 'python')
print(query_lab_items)

     ROW_ID  ITEMID                           LABEL  FLUID    CATEGORY  \
192      66   50865                        Amikacin  Blood   Chemistry
227     101   50900  Carcinoembyronic Antigen (CEA)  Blood   Chemistry
256     130   50929                      Gentamicin  Blood   Chemistry
305     179   50978                       Rapamycin  Blood   Chemistry
323     197   50997                      Tobramycin  Blood   Chemistry
335     209   51009                      Vancomycin  Blood   Chemistry
684     685   51485                Leucine Crystals  Urine  Hematology
695     696   51496      Reducing Substances, Urine  Urine  Hematology

    LOINC_CODE
192        NaN
227     2039-6
256    35668-3
305    29247-4
323    35670-9
335    20578-1
684     5798-4
695        NaN

In [18]:
df_micro_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/MICROBIOLOGYEVENTS1.csv', nrows = 9000000)
print(df_micro_events.tail(5))

        ROW_ID  SUBJECT_ID  HADM_ID  CHARTDATE    CHARTTIME  SPEC_ITEMID  \
631721  630931       99783   126090      82490  82490.55208      70076.0
631722  630932       99783   126090      82491  82491.43333      70076.0
631723  630933       99783   126090      82491  82491.43333      70076.0
631724  630934       99783   126090      82492  82492.52778      70012.0
631725  630935       99783   126090      82492  82492.60278      70012.0

       SPEC_TYPE_DESC  ORG_ITEMID               ORG_NAME  ISOLATE_NUM  \
631721         TISSUE     80066.0  ASPERGILLUS FUMIGATUS          2.0
631722         TISSUE     80066.0  ASPERGILLUS FUMIGATUS          1.0
631723         TISSUE     80066.0  ASPERGILLUS FUMIGATUS          2.0
631724  BLOOD CULTURE         NaN                    NaN          NaN
631725  BLOOD CULTURE         NaN                    NaN          NaN

        AB_ITEMID AB_NAME DILUTION_TEXT DILUTION_COMPARISON  DILUTION_VALUE  \
631721        NaN     NaN           NaN                 NaN             NaN
631722        NaN     NaN           NaN                 NaN             NaN
631723        NaN     NaN           NaN                 NaN             NaN
631724        NaN     NaN           NaN                 NaN             NaN
631725        NaN     NaN           NaN                 NaN             NaN

       INTERPRETATION
631721            NaN
631722            NaN
631723            NaN
631724            NaN
631725            NaN

## Found no matches between items and lab items

In [12]:
df_items_join = pd.merge(df_items, df_lab_items, on = 'ITEMID', how = 'inner')
df_items_join.count()
#df_items_outer_join = pd.merge(df_items, df_lab_items, on = 'ITEMID', how = 'left')
#df_items_outer_join.count()

ROW_ID_x        0
ITEMID          0
LABEL_x         0
ABBREVIATION    0
DBSOURCE        0
LINKSTO         0
CATEGORY_x      0
UNITNAME        0
PARAM_TYPE      0
CONCEPTID       0
ROW_ID_y        0
LABEL_y         0
FLUID           0
CATEGORY_y      0
LOINC_CODE      0
dtype: int64

# Join of the Chart events and Items

In [60]:
#df_chart_events_join = pd.merge(df_chart_events1, df_items, on = 'ITEMID', how = 'left')
#df_chart_events_join.count()
#df_chart_events_join.head(5)
#df_chart_events_join.isnull().sum()
#query_chart_events_join = df_chart_events_join.query('ABBREVIATION.str.contains("weig", na=False)', engine = 'python')
query_chart_events_join = df_chart_events_join.query('ITEMID == 225411')
#df_chart_events_join.sort_values(by=['HADM_ID']).head(5)
print(query_chart_events_join)

Empty DataFrame
Columns: [ROW_ID_x, SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, CHARTTIME, STORETIME, CGID, VALUE, VALUENUM, VALUEUOM, WARNING, ERROR, RESULTSTATUS, STOPPED, ROW_ID_y, LABEL, ABBREVIATION, DBSOURCE, LINKSTO, CATEGORY, UNITNAME, PARAM_TYPE, CONCEPTID]
Index: []

[0 rows x 24 columns]

In [ ]:
#df_items.isnull().sum()
df_chart_events_join.count()

In [146]:
#query1_chart_events_join = df_chart_events_join.query('ITEMID == 50821', engine = 'python', )
query1_chart_events_join = df_chart_events_join.query('ITEMID == 223835', engine = 'python')
#query1_chart_events_join = df_chart_events_join.query('LABEL.str.contains("wei", na=False)', engine = 'python', )
#query1_chart_events_join = df_chart_events_join.query('VALUEUOM.str.contains("%", na=False)', engine = 'python', )
query1_chart_events_join.head(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,...,STOPPED,ROW_ID_y,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
1,789,36,165660,241249.0,223835,85600.50000,85600.58056,17525.0,100.0,100.0,...,NaN,12804,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN
82,335,34,144319,290505.0,223835,106341.31320,106341.31600,16924.0,60.0,60.0,...,NaN,12804,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN
491,706,36,165660,241249.0,223835,85600.29792,85600.29792,17525.0,100.0,100.0,...,NaN,12804,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN
635,430,34,144319,290505.0,223835,106341.45830,106341.46110,14913.0,60.0,60.0,...,NaN,12804,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN
892,1231,36,165660,241249.0,223835,85601.66667,85601.68542,20290.0,50.0,50.0,...,NaN,12804,Inspired O2 Fraction,FiO2,metavision,chartevents,Respiratory,None,Numeric,NaN

# Join of the Lab events and Lab items

In [43]:
df_lab_events_join = pd.merge(df_lab_events, df_lab_items, on = 'ITEMID', how = 'left')
#df_lab_events_join.count()
df_lab_events_join.head(5)
#df_lab_events_join.isnull().sum()

,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,LABEL,FLUID,CATEGORY,LOINC_CODE
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,21,pH,Blood,Blood Gas,11558-4
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN,1,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN,3,Base Excess,Blood,Blood Gas,11555-0
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN,5,Calculated Total CO2,Blood,Blood Gas,34728-6
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal,9,Free Calcium,Blood,Blood Gas,1994-3

In [144]:
#query_lab_events_join = df_lab_events_join.query('FLAG == "abnormal" & VALUEUOM.str.contains("bp", na=False)', engine = 'python')
#query_lab_events_join = df_lab_events_join.query('FLAG == "abnormal"', engine = 'python')
query_lab_events_join = df_lab_events_join.query('ITEMID == 50821')
#query_lab_events_join = df_lab_events_join.query('LABEL.str.contains("rate", na=False)', engine = 'python')
#query_lab_events_join = df_lab_events_join.query('VALUEUOM.str.contains("bp", na=False)', engine = 'python')
query_lab_events_join.head(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,LABEL,FLUID,CATEGORY,LOINC_CODE
9,290,3,NaN,50821,2101-10-12 18:17:00,80,80.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
220,977,3,145834.0,50821,2101-10-22 04:31:00,164,164.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
233,990,3,145834.0,50821,2101-10-22 07:13:00,121,121.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
242,999,3,145834.0,50821,2101-10-22 10:16:00,105,105.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
251,1008,3,145834.0,50821,2101-10-22 11:21:00,113,113.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8

In [145]:
#WBC ITEMID is 51301. Flag 'Abnormal' shows the wbc is high
query1_lab_events_join = df_lab_events_join.query('ITEMID == 50821')
#query1_lab_events_join.count()
#query1_lab_events_join = df_lab_events_join.query('LABEL.str.contains("temp", na=False)', engine = 'python', )
query1_lab_events_join.tail(10)

,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,LABEL,FLUID,CATEGORY,LOINC_CODE
9999318,10058630,16271,148595.0,50821,2131-06-03 03:38:00,39,39.0,mm Hg,abnormal,22,pO2,Blood,Blood Gas,11556-8
9999327,10058639,16271,148595.0,50821,2131-06-03 12:07:00,36,36.0,mm Hg,abnormal,22,pO2,Blood,Blood Gas,11556-8
9999340,10058652,16271,148595.0,50821,2131-06-03 15:26:00,44,44.0,mm Hg,abnormal,22,pO2,Blood,Blood Gas,11556-8
9999435,10059966,16275,185592.0,50821,2105-02-05 15:45:00,62,62.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
9999543,10157688,16429,149904.0,50821,2123-02-17 16:18:00,60,60.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
9999554,10157699,16429,149904.0,50821,2123-02-17 17:09:00,69,69.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
9999645,10155353,16419,152176.0,50821,2196-12-01 08:11:00,83,83.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
9999654,10155363,16419,152176.0,50821,2196-12-01 18:40:00,95,95.0,mm Hg,NaN,22,pO2,Blood,Blood Gas,11556-8
9999889,10154323,16415,162957.0,50821,2199-03-29 03:19:00,66,66.0,mm Hg,abnormal,22,pO2,Blood,Blood Gas,11556-8
9999924,10154358,16415,162957.0,50821,2199-03-30 07:00:00,54,54.0,mm Hg,abnormal,22,pO2,Blood,Blood Gas,11556-8

# Check for admission records

In [ ]:
query1_lab_events_join = df_lab_events_join.query('HADM_ID == 148595')
query1_lab_events_join.tail(10)

In [ ]:
query1_chart_events_join = df_lab_events_join.query('HADM_ID == 148595')
query1_chart_events_join.tail(10)

# Join the Chart and Lab events

# just trials first

In [112]:
#trial_chart = df_chart_events1.head(10000)
#trial_lab = df_lab_events1.head(10000)
#trial_join = pd.merge(trial_chart, trial_lab, on = 'HADM_ID', how = 'inner')
trial_join.count()
#trial_join.head(5)

SUBJECT_ID_x    716630
HADM_ID         716630
ICUSTAY_ID      716630
ITEMID_x        716630
VALUE_x         716630
VALUENUM_x      716630
VALUEUOM_x      695521
WARNING         716630
RESULTSTATUS         0
ROW_ID          716630
SUBJECT_ID_y    716630
ITEMID_y        716630
CHARTTIME       716630
VALUE_y         716630
VALUENUM_y      716630
VALUEUOM_y      716630
FLAG            433727
dtype: int64

In [111]:
#trial_join1 = pd.merge(trial_chart, trial_lab, on = 'HADM_ID', how = 'outer')
#trial_join1.count()
trial_join1.head(5)

,SUBJECT_ID_x,HADM_ID,ICUSTAY_ID,ITEMID_x,VALUE_x,VALUENUM_x,VALUEUOM_x,WARNING,RESULTSTATUS,ROW_ID,SUBJECT_ID_y,ITEMID_y,CHARTTIME,VALUE_y,VALUENUM_y,VALUEUOM_y,FLAG
0,36.0,165660.0,241249.0,223834.0,15.0,15.0,L/min,0.0,NaN,16117.0,36.0,50882.0,2134-05-16 03:02:00,35,35.0,mEq/L,abnormal
1,36.0,165660.0,241249.0,223834.0,15.0,15.0,L/min,0.0,NaN,16120.0,36.0,50912.0,2134-05-16 03:02:00,0.8,0.8,mg/dL,NaN
2,36.0,165660.0,241249.0,223834.0,15.0,15.0,L/min,0.0,NaN,16121.0,36.0,50931.0,2134-05-16 03:02:00,111,111.0,mg/dL,abnormal
3,36.0,165660.0,241249.0,223834.0,15.0,15.0,L/min,0.0,NaN,16124.0,36.0,50971.0,2134-05-16 03:02:00,3.2,3.2,mEq/L,abnormal
4,36.0,165660.0,241249.0,223834.0,15.0,15.0,L/min,0.0,NaN,16126.0,36.0,51006.0,2134-05-16 03:02:00,22,22.0,mg/dL,abnormal

In [121]:
#trial_join2 = pd.merge(trial_chart, trial_lab, on = 'HADM_ID', how = 'right')
#trial_join2.count()
#print(trial_join2.query('HADM_ID == 165660'))
#trial_join2.isna().sum()  -- to find the NA values in each column

SUBJECT_ID_x    725622
HADM_ID         725622
ICUSTAY_ID      725622
ITEMID_x        725622
VALUE_x         725622
VALUENUM_x      725622
VALUEUOM_x      725622
WARNING         725622
RESULTSTATUS    725622
ROW_ID          725622
SUBJECT_ID_y    725622
ITEMID_y        725622
CHARTTIME       725622
VALUE_y         725622
VALUENUM_y      725622
VALUEUOM_y      725622
FLAG            725622
dtype: int64

In [104]:
#df_lab_events1.count()

ROW_ID        6102037
SUBJECT_ID    6102037
HADM_ID       6102037
ITEMID        6102037
CHARTTIME     6102037
VALUE         6102021
VALUENUM      6100349
VALUEUOM      6101833
FLAG          3307185
dtype: int64

In [95]:
#df_chart_events1.count()

SUBJECT_ID      1046649
HADM_ID         1046649
ICUSTAY_ID      1046192
ITEMID          1046649
VALUE           1046649
VALUENUM        1046649
VALUEUOM         985335
WARNING         1046649
RESULTSTATUS          0
dtype: int64

In [8]:
df_join_chart_lab_events = pd.merge(df_chart_events1, df_lab_events1, on = ['SUBJECT_ID','HADM_ID'], how = 'inner', sort=False)
df_join_chart_lab_events.count()

MemoryError: Unable to allocate 6.98 GiB for an array with shape (2, 468618637) and data type float64

In [127]:
#df_datetime_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/DATETIMEEVENTS.csv', low_memory = False)
#query_datetime_events = df_datetime_events.query('WARNING == 1 & VALUEUOM != "DATE" & VALUEUOM != "Date"', engine = 'python')
#query_datetime_events = df_datetime_events.query('ITEMID == 3112')
#print(query_datetime_events.head(15))
#print(df_datetime_events.head(10))
#df_datetime_events.count()

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, CHARTTIME, STORETIME, CGID, VALUE, VALUEUOM, WARNING, ERROR, RESULTSTATUS, STOPPED]
Index: []

In [126]:
#df_proc_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/PROCEDUREEVENTS_MV1.csv')
#query_proc_events = df_lab_events_join.query('ITEMID == 3112')
#print(query_proc_events)
#df_proc_events.count()
#df_proc_events.head(5)

Empty DataFrame
Columns: [ROW_ID_x, SUBJECT_ID, HADM_ID, ITEMID, CHARTTIME, VALUE, VALUENUM, VALUEUOM, FLAG, ROW_ID_y, LABEL, FLUID, CATEGORY, LOINC_CODE]
Index: []

In [123]:
#df_note_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/NOTEEVENTS1.csv', nrows=10000000, low_memory=False )
#df_note_events.count()
#df_note_events.tail(5)
#query_df_note_events = df_note_events.query('TEXT.str.contains("weight", na=False)', engine = 'python')
#query_df_note_events.head(5)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
17,228,79900,120644.0,2194-07-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-7-18**] ...
18,229,79900,128319.0,2195-04-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-4-14**] ...
21,232,9805,177212.0,2131-07-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-7-5**] D...
22,233,99091,185274.0,2190-02-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2190-2-11**] ...

In [136]:
#df_cpt_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/CPTEVENTS1.csv', low_memory=False)
#df_cpt_events.count()
#df_cpt_events.tail(5)
#query_cpt_events = df_cpt_events.query('DESCRIPTION.str.contains("weig", na=False)', engine = 'python')
#query_cpt_events = df_cpt_events.query('CPT_NUMBER == 94004')
#query_cpt_events = df_cpt_events.query('CPT_NUMBER > 94000 & DESCRIPTION.str.contains("VENT", na=False)', engine = 'python')
#query_cpt_events.head(20)

,ROW_ID,SUBJECT_ID,HADM_ID,COSTCENTER,CHARTDATE,CPT_CD,CPT_NUMBER,CPT_SUFFIX,TICKET_ID_SEQ,SECTIONHEADER,SUBSECTIONHEADER,DESCRIPTION
573141,573142,78876,163404,Resp,2105-09-01 00:00:00,94003,94003.0,NaN,NaN,Medicine,Pulmonary,VENT MGMT;SUBSQ DAYS(INVASIVE)
573142,573143,78879,136071,Resp,2150-08-29 00:00:00,94003,94003.0,NaN,NaN,Medicine,Pulmonary,VENT MGMT;SUBSQ DAYS(INVASIVE)
573143,573144,78879,136071,Resp,2150-08-28 00:00:00,94002,94002.0,NaN,NaN,Medicine,Pulmonary,"VENT MGMT, 1ST DAY (INVASIVE)"
573144,573145,78892,175171,Resp,2125-06-11 00:00:00,94003,94003.0,NaN,NaN,Medicine,Pulmonary,VENT MGMT;SUBSQ DAYS(INVASIVE)
573145,573146,78892,175171,Resp,2125-06-10 00:00:00,94003,94003.0,NaN,NaN,Medicine,Pulmonary,VENT MGMT;SUBSQ DAYS(INVASIVE)