In [2]:
import pandas as pd
import numpy as np

In [2]:
df_admissions = pd.read_csv('C:/Users/Chicki/Desktop/Data/admissions_new1.csv')
print (df_admissions.head(5))
#query_admissions = df_admissions.query('HADM_ID == 136071')
#print(query_admissions)

   ROW_ID  SUBJECT_ID  HADM_ID     ADMITTIME     DISCHTIME  DEATHTIME  \
0      21          22   165315  108213.51810  108214.66250        NaN
1      22          23   152223   92654.30208   92659.79861        NaN
2      23          23   124321   94160.81528   94167.58333        NaN
3      24          24   161859   87451.67639   87454.53333        NaN
4      25          25   129635   95271.08750   95274.62153        NaN

  ADMISSION_TYPE         ADMISSION_LOCATION         DISCHARGE_LOCATION  \
0      EMERGENCY       EMERGENCY ROOM ADMIT  DISC-TRAN CANCER/CHLDRN H
1       ELECTIVE  PHYS REFERRAL/NORMAL DELI           HOME HEALTH CARE
2      EMERGENCY  TRANSFER FROM HOSP/EXTRAM           HOME HEALTH CARE
3      EMERGENCY  TRANSFER FROM HOSP/EXTRAM                       HOME
4      EMERGENCY       EMERGENCY ROOM ADMIT                       HOME

  INSURANCE LANGUAGE           RELIGION MARITAL_STATUS ETHNICITY  \
0   Private      NaN       UNOBTAINABLE        MARRIED     WHITE
1  Medicare      NaN           CATHOLIC        MARRIED     WHITE
2  Medicare     ENGL           CATHOLIC        MARRIED     WHITE
3   Private      NaN  PROTESTANT QUAKER         SINGLE     WHITE
4   Private      NaN       UNOBTAINABLE        MARRIED     WHITE

      EDREGTIME     EDOUTTIME  \
0  108213.42080  108213.55830
1           NaN           NaN
2           NaN           NaN
3           NaN           NaN
4   95271.04236   95271.18542

                                           DIAGNOSIS  HOSPITAL_EXPIRE_FLAG  \
0                            BENZODIAZEPINE OVERDOSE                     0
1  CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...                     0
2                                         BRAIN MASS                     0
3                     INTERIOR MYOCARDIAL INFARCTION                     0
4                            ACUTE CORONARY SYNDROME                     0

   HAS_CHARTEVENTS_DATA
0                     1
1                     1
2                     1
3                     1
4                     1

In [3]:
df_patients = pd.read_csv('C:/Users/Chicki/Desktop/Data/patients.csv')
print(df_patients.tail(5))

       ROW_ID  SUBJECT_ID GENDER                  DOB                  DOD  \
46515   31840       44089      M  2026-05-25 00:00:00                  NaN
46516   31841       44115      F  2124-07-27 00:00:00                  NaN
46517   31842       44123      F  2049-11-26 00:00:00  2135-01-12 00:00:00
46518   31843       44126      F  2076-07-25 00:00:00                  NaN
46519   31844       44128      M  2098-07-25 00:00:00                  NaN

                  DOD_HOSP DOD_SSN  EXPIRE_FLAG
46515                  NaN     NaN            0
46516                  NaN     NaN            0
46517  2135-01-12 00:00:00     NaN            1
46518                  NaN     NaN            0
46519                  NaN     NaN            0

In [3]:
df_icu_stays = pd.read_csv('C:/Users/Chicki/Desktop/Data/ICUSTAYS1.csv')
df_icu_stays.count()
#print ((df_icu_stays.head(5)))

ROW_ID            61532
SUBJECT_ID        61532
HADM_ID           61532
ICUSTAY_ID        61532
DBSOURCE          61532
FIRST_CAREUNIT    61532
LAST_CAREUNIT     61532
FIRST_WARDID      61532
LAST_WARDID       61532
INTIME            61532
OUTTIME           61522
LOS               61522
dtype: int64

In [5]:
df_chart_events1 = pd.read_csv('C:/Users/Chicki/Desktop/Data/CHARTEVENTS1.csv')

#df_chart_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/CHARTEVENTS.csv', nrows=10000000)
#print((df_chart_events.head(5)))
#df_chart_events.cache()
df_chart_events1.count()
#print((df_chart_events.query('WARNING == 1').head(5)))
#print((df_chart_events.query('ITEMID < 10884').head(5)))

ROW_ID          1048575
SUBJECT_ID      1048575
HADM_ID         1048575
ICUSTAY_ID      1048118
ITEMID          1048575
CHARTTIME       1048575
STORETIME        848102
CGID             848102
VALUE           1048575
VALUENUM        1048575
VALUEUOM         986909
WARNING         1048575
ERROR           1048575
RESULTSTATUS          0
STOPPED               0
dtype: int64

# Items

In [8]:
df_items = pd.read_csv('C:/Users/Chicki/Desktop/Data/D_ITEMS.csv')
print((df_items.tail(5)))
#print(df_items['ITEMID'] == 40055)
#print(df_items.query('ITEMID == 51346'))
#query_items = df_items.query('ITEMID == 223835')
#query_items = df_items.query('UNITNAME == "%"')
#query_items = df_items.query('ITEMID')
#print(query_items)

       ROW_ID  ITEMID                    LABEL             ABBREVIATION  \
12482   14518  226757    GCSMotorApacheIIValue    GCSMotorApacheIIValue
12483   14519  226758   GCSVerbalApacheIIValue   GCSVerbalApacheIIValue
12484   14520  226759        HCO3ApacheIIValue        HCO3ApacheIIValue
12485   14521  226760                HCO3Score                HCO3Score
12486   14522  226761  HematocritApacheIIScore  HematocritApacheIIScore

         DBSOURCE      LINKSTO            CATEGORY UNITNAME PARAM_TYPE  \
12482  metavision  chartevents  Scores - APACHE II      NaN       Text
12483  metavision  chartevents  Scores - APACHE II      NaN       Text
12484  metavision  chartevents  Scores - APACHE II     None    Numeric
12485  metavision  chartevents  Scores - APACHE II     None    Numeric
12486  metavision  chartevents  Scores - APACHE II     None    Numeric

       CONCEPTID
12482        NaN
12483        NaN
12484        NaN
12485        NaN
12486        NaN

In [9]:
#query_items_specific = df_items.query('LABEL.str.contains("rate", na=False)', engine = 'python', )
query_items_specific = df_items.query('LABEL.str.contains("weight", na=False)', engine = 'python', )
print(query_items_specific.head(20))
#df_items['LABEL'].str.contains('sys', na=False)

       ROW_ID  ITEMID                                              LABEL  \
860      2214    4183                                   Birthweight (kg)
4190     4467    7000                                  ideal body weight
12107   13739  225124                 Unintentional weight loss >10 lbs.
12309   14501  226740    APACHE II Diagnosistic weight factors - Medical
12466   14502  226741  APACHE II Diagnosistic weight factors - Surgic...
12467   14503  226742   APACHE II Diagnosistic weight factors - Surgical

                                            ABBREVIATION    DBSOURCE  \
860                                                  NaN     carevue
4190                                                 NaN     carevue
12107                 Unintentional weight loss >10 lbs.  metavision
12309               Diagnostic weight category - Medical  metavision
12466  Diagnosistic weight categories - Surgical emer...  metavision
12467          Diagnosistic weight categories - Surgical  metavision

           LINKSTO            CATEGORY UNITNAME PARAM_TYPE  CONCEPTID
860    chartevents                 NaN      NaN        NaN        NaN
4190   chartevents                 NaN      NaN        NaN        NaN
12107  chartevents    Adm History/FHPA      NaN   Checkbox        NaN
12309  chartevents  Scores - APACHE II      NaN       Text        NaN
12466  chartevents  Scores - APACHE II      NaN       Text        NaN
12467  chartevents  Scores - APACHE II      NaN       Text        NaN

# Lab Items

In [10]:
df_lab_items = pd.read_csv('C:/Users/Chicki/Desktop/Data/D_LABITEMS.csv')
print((df_lab_items.head(5)))
#query_lab_items = df_lab_items.query('ITEMID == 51346')
#print(df_lab_items['ITEMID'] == 51346)
#print(query_lab_items)

   ROW_ID  ITEMID                       LABEL                      FLUID  \
0     546   51346                      Blasts  Cerebrospinal Fluid (CSF)
1     547   51347                 Eosinophils  Cerebrospinal Fluid (CSF)
2     548   51348             Hematocrit, CSF  Cerebrospinal Fluid (CSF)
3     549   51349  Hypersegmented Neutrophils  Cerebrospinal Fluid (CSF)
4     550   51350           Immunophenotyping  Cerebrospinal Fluid (CSF)

     CATEGORY LOINC_CODE
0  Hematology    26447-3
1  Hematology    26451-5
2  Hematology    30398-2
3  Hematology    26506-6
4  Hematology        NaN

In [11]:
df_lab_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/LABEVENTS.csv', nrows=10000000)
print(df_lab_events.head(5))
#df_lab_events.count()
#query_lab_events = df_lab_events.query('FLAG == "abnormal"')
#query_lab_events = df_lab_events.query('LABEL.str.contains("bun", na=False)', engine = 'python')
#query_lab_events.tail(10)

   ROW_ID  SUBJECT_ID  HADM_ID  ITEMID            CHARTTIME VALUE  VALUENUM  \
0     281           3      NaN   50820  2101-10-12 16:07:00  7.39      7.39
1     282           3      NaN   50800  2101-10-12 18:17:00   ART       NaN
2     283           3      NaN   50802  2101-10-12 18:17:00    -1     -1.00
3     284           3      NaN   50804  2101-10-12 18:17:00    22     22.00
4     285           3      NaN   50808  2101-10-12 18:17:00  0.93      0.93

  VALUEUOM      FLAG
0    units       NaN
1      NaN       NaN
2    mEq/L       NaN
3    mEq/L       NaN
4   mmol/L  abnormal

In [18]:
df_micro_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/MICROBIOLOGYEVENTS1.csv', nrows = 9000000)
print(df_micro_events.tail(5))

        ROW_ID  SUBJECT_ID  HADM_ID  CHARTDATE    CHARTTIME  SPEC_ITEMID  \
631721  630931       99783   126090      82490  82490.55208      70076.0
631722  630932       99783   126090      82491  82491.43333      70076.0
631723  630933       99783   126090      82491  82491.43333      70076.0
631724  630934       99783   126090      82492  82492.52778      70012.0
631725  630935       99783   126090      82492  82492.60278      70012.0

       SPEC_TYPE_DESC  ORG_ITEMID               ORG_NAME  ISOLATE_NUM  \
631721         TISSUE     80066.0  ASPERGILLUS FUMIGATUS          2.0
631722         TISSUE     80066.0  ASPERGILLUS FUMIGATUS          1.0
631723         TISSUE     80066.0  ASPERGILLUS FUMIGATUS          2.0
631724  BLOOD CULTURE         NaN                    NaN          NaN
631725  BLOOD CULTURE         NaN                    NaN          NaN

        AB_ITEMID AB_NAME DILUTION_TEXT DILUTION_COMPARISON  DILUTION_VALUE  \
631721        NaN     NaN           NaN                 NaN             NaN
631722        NaN     NaN           NaN                 NaN             NaN
631723        NaN     NaN           NaN                 NaN             NaN
631724        NaN     NaN           NaN                 NaN             NaN
631725        NaN     NaN           NaN                 NaN             NaN

       INTERPRETATION
631721            NaN
631722            NaN
631723            NaN
631724            NaN
631725            NaN

## Found no matches between items and lab items

In [12]:
df_items_join = pd.merge(df_items, df_lab_items, on = 'ITEMID', how = 'inner')
df_items_join.count()
#df_items_outer_join = pd.merge(df_items, df_lab_items, on = 'ITEMID', how = 'left')
#df_items_outer_join.count()

ROW_ID_x        0
ITEMID          0
LABEL_x         0
ABBREVIATION    0
DBSOURCE        0
LINKSTO         0
CATEGORY_x      0
UNITNAME        0
PARAM_TYPE      0
CONCEPTID       0
ROW_ID_y        0
LABEL_y         0
FLUID           0
CATEGORY_y      0
LOINC_CODE      0
dtype: int64

# Join of the Chart events and Items

In [19]:
df_chart_events_join = pd.merge(df_chart_events1, df_items, on = 'ITEMID', how = 'left')
#df_chart_events_join.count()
#df_chart_events_join.head(5)
#df_chart_events_join.isnull().sum()
#query_chart_events_join = df_chart_events_join.query('ABBREVIATION.str.contains("weig", na=False)', engine = 'python')
#query_chart_events_join = df_chart_events_join.query('HADM_ID == 136071')
#query_chart_events_join.head(10)
df_chart_events_join.sort_values(by=['HADM_ID']).head(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,...,STOPPED,ROW_ID_y,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
66658,65253,533,100009,253656.0,227464,95832.77986,95832.78125,20889.0,3.9,3.9,...,NaN,14825,Potassium (whole blood),Potassium (whole blood),metavision,chartevents,Labs,None,Numeric with tag,NaN
63962,65839,533,100009,253656.0,220180,95834.20833,95834.21250,14228.0,48.0,48.0,...,NaN,12735,Non Invasive Blood Pressure diastolic,NBPd,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
63961,65838,533,100009,253656.0,220179,95834.20833,95834.21250,14228.0,95.0,95.0,...,NaN,12734,Non Invasive Blood Pressure systolic,NBPs,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,NaN
63960,65837,533,100009,253656.0,220045,95834.20833,95834.21250,14228.0,64.0,64.0,...,NaN,12712,Heart Rate,HR,metavision,chartevents,Routine Vital Signs,bpm,Numeric,NaN
63959,65836,533,100009,253656.0,223834,95834.16667,95834.17500,14228.0,3.0,3.0,...,NaN,12803,O2 Flow,O2 Flow,metavision,chartevents,Respiratory,L/min,Numeric,NaN

In [ ]:
#df_items.isnull().sum()
df_chart_events_join.count()

In [18]:
#query1_chart_events_join = df_chart_events_join.query('ITEMID == 225411', engine = 'python', )
#query1_chart_events_join = df_chart_events_join.query('ITEMID == 223835', engine = 'python')
query1_chart_events_join = df_chart_events_join.query('LABEL.str.contains("wei", na=False)', engine = 'python', )
#query1_chart_events_join = df_chart_events_join.query('VALUEUOM.str.contains("%", na=False)', engine = 'python', )
query1_chart_events_join.head(10)

Empty DataFrame
Columns: [ROW_ID_x, SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, CHARTTIME, STORETIME, CGID, VALUE, VALUENUM, VALUEUOM, WARNING, ERROR, RESULTSTATUS, STOPPED, ROW_ID_y, LABEL, ABBREVIATION, DBSOURCE, LINKSTO, CATEGORY, UNITNAME, PARAM_TYPE, CONCEPTID]
Index: []

[0 rows x 24 columns]

In [20]:
df_datetime_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/DATETIMEEVENTS.csv', low_memory = False)
print(df_datetime_events.head(5))
#df_datetime_events.count()

   ROW_ID  SUBJECT_ID   HADM_ID  ICUSTAY_ID  ITEMID            CHARTTIME  \
0     711        7657  121183.0    297945.0    3411  2172-03-14 11:00:00
1     712        7657  121183.0    297945.0    3411  2172-03-14 13:00:00
2     713        7657  121183.0    297945.0    3411  2172-03-14 15:00:00
3     714        7657  121183.0    297945.0    3411  2172-03-14 17:00:00
4     715        7657  121183.0    297945.0    3411  2172-03-14 19:00:00

             STORETIME   CGID VALUE VALUEUOM  WARNING  ERROR  RESULTSTATUS  \
0  2172-03-14 11:52:00  16446   NaN     Date      NaN    NaN           NaN
1  2172-03-14 12:36:00  16446   NaN     Date      NaN    NaN           NaN
2  2172-03-14 15:10:00  14957   NaN     Date      NaN    NaN           NaN
3  2172-03-14 17:01:00  16446   NaN     Date      NaN    NaN           NaN
4  2172-03-14 19:29:00  14815   NaN     Date      NaN    NaN           NaN

    STOPPED
0  NotStopd
1  NotStopd
2  NotStopd
3  NotStopd
4  NotStopd

In [38]:
df_proc_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/PROCEDUREEVENTS_MV1.csv')
df_proc_events.count()
df_proc_events.head(5)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,379,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
1,380,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225454,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
3,382,29070,115071,232563.0,2145-03-12 23:36:00,2145-03-12 23:37:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
4,383,29070,115071,232563.0,2145-03-13 01:27:00,2145-03-16 16:00:00,224560,5193.0,min,Right IJ,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

In [123]:
df_note_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/NOTEEVENTS1.csv', nrows=10000000, low_memory=False )
#df_note_events.count()
df_note_events.tail(5)
#query_df_note_events = df_note_events.query('TEXT.str.contains("weight", na=False)', engine = 'python')
#query_df_note_events.head(5)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
17,228,79900,120644.0,2194-07-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-7-18**] ...
18,229,79900,128319.0,2195-04-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-4-14**] ...
21,232,9805,177212.0,2131-07-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-7-5**] D...
22,233,99091,185274.0,2190-02-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2190-2-11**] ...

In [124]:
df_cpt_events = pd.read_csv('C:/Users/Chicki/Desktop/Data/CPTEVENTS1.csv', low_memory=False)
#df_cpt_events.count()
#df_cpt_events.tail(5)
query_cpt_events = df_cpt_events.query('DESCRIPTION.str.contains("weig", na=False)', engine = 'python')
#query_cpt_events = df_cpt_events.query('CPT_NUMBER == 94004')
#query_cpt_events = df_cpt_events.query('CPT_NUMBER > 94000 & DESCRIPTION.str.contains("VENT", na=False)', engine = 'python')
query_cpt_events.head(20)

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, COSTCENTER, CHARTDATE, CPT_CD, CPT_NUMBER, CPT_SUFFIX, TICKET_ID_SEQ, SECTIONHEADER, SUBSECTIONHEADER, DESCRIPTION]
Index: []

# Join of the Lab events and Lab items

In [28]:
df_lab_events_join = pd.merge(df_lab_events, df_lab_items, on = 'ITEMID', how = 'left')
#df_lab_events_join.count()
df_lab_events_join.head(5)
#df_lab_events_join.isnull().sum()

,ROW_ID_x,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,LABEL,FLUID,CATEGORY,LOINC_CODE
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,21,pH,Blood,Blood Gas,11558-4
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN,1,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN,3,Base Excess,Blood,Blood Gas,11555-0
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN,5,Calculated Total CO2,Blood,Blood Gas,34728-6
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal,9,Free Calcium,Blood,Blood Gas,1994-3

In [118]:
query_lab_events_join = df_lab_events_join.query('FLAG == "abnormal" & VALUEUOM.str.contains("lb", na=False)', engine = 'python')
#query_lab_events_join = df_lab_events_join.query('ITEMID == 3112')
#query_lab_events_join = df_lab_events_join.query('LABEL.str.contains("rate", na=False)', engine = 'python')
#query_lab_events_join = df_lab_events_join.query('VALUEUOM.str.contains("bpm", na=False)', engine = 'python')
query_lab_events_join.head(5)

Empty DataFrame
Columns: [ROW_ID_x, SUBJECT_ID, HADM_ID, ITEMID, CHARTTIME, VALUE, VALUENUM, VALUEUOM, FLAG, ROW_ID_y, LABEL, FLUID, CATEGORY, LOINC_CODE]
Index: []

In [ ]:
#WBC ITEMID is 51301. Flag 'Abnormal' shows the wbc is high
query1_lab_events_join = df_lab_events_join.query('ITEMID == 18')
#query1_lab_events_join.count()
#query1_lab_events_join = df_lab_events_join.query('LABEL.str.contains("temp", na=False)', engine = 'python', )
query1_lab_events_join.tail(10)